/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-size:16px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

#phone {
	width: 310px;
	height: 640px;
	border: 2px solid #ccc;
	border-radius: 30px;
	position: absolute;
	left: 50%;
	top: 50px;
	margin: 0 -285px;
	background: #fff;
}
#home {
width: 36px;
height: 36px;
border: 1px solid #ccc;
position: absolute;
bottom: 10px;
left: 50%;
margin: 0 -18px;
border-radius: 50%;
}
#speaker {
	width: 50px;
	height: 6px;
	border: 1px solid #ccc;
	border-radius: 6px;
	position: absolute;
	left: 50%;
	top: 25px;
	margin: 0 -25px;
}
#screen {
	width: 290px;
	height: 520px;
	border: 1px solid #ccc;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -260px -145px;
	box-sizing: border-box;
	overflow: hidden;
	background: url('../blueprint-dark.png') repeat;
}

.pages {
	text-align: center;
	padding-top: 150px;
}

#header {
  background: #353541;
  position: relative;
  z-index: 30;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 2.5rem;
  overflow: hidden;
}

#menu {
  list-style: none;
  margin: 0;
  padding: 0;
  bottom: 0;
  position: absolute;
  width: 3000px;
  transition: transform .2s ease-out;
}

#menu  li {
	opacity: 0;
    transition: opacity .2s ease-out;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    width: 150px;
    text-align:center;
    display: inline-block;
    line-height: 2.5rem;
  	transform : translateZ(0);
}

#menu.slide li {
	opacity: 0.4;
}
#menu  li.op1 {
	opacity: 1;
}

.pages {
	position: absolute;
	left: 0;
	right: 0;
	top: 2.5rem;
	bottom: 0;
}


@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
