* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust:none;
}
html, body {
    background: #ebebeb;
    font-family:Tahoma,Arial,Roboto,Helvetica,sans-serif;
    font-size: 10px;
    overflow: hidden;
}

i, em {
    font-style: normal;
}
a {
    text-decoration: none;
}

.loading {
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background: white;
    text-align: center;
    font-size: 16px;
    padding-top: 200px;
}

.wrapper {
    display: none;
    width: 100%;
}

.wrapper .logo {
    background-image: url('../img/logo.png');
    background-size: 19rem auto;
    width: 19rem;
    height: 10.5rem;
}
.content-form {
    padding: 0 1rem;
}

.line {
    width: 15rem;
    line-height: 1.5rem;
}

.login-form {
    margin-top: 1.5rem;
    padding: 1rem;
}

input[type='text'],input[type='password'],input[type='search'] {
    margin-left: 2rem;
    padding: .5rem;
    border: none;
    font-size: .7rem;
    box-shadow: none;
    width: 12rem;
    margin-bottom: .5rem;
}

input[type='number'] {
    -webkit-appearance: none;
    background-color: #fff;
    padding: .5rem;
    font-size: .7rem;
    width: 12rem;
    margin-bottom: .5rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input.full {
    margin-left: 0;
    border: none;
    width: 16rem;
}

input+span.cleanable {
    display: none;
    position: relative;
    font-size: .7rem;
    left: -1rem;
    color: #999;
}

.login-form input[type='checkbox'] {
    width: 1.25rem;
    height: 1.25rem;
    vertical-align:middle;
}

.login-form .bindwx {
    vertical-align: super;
    text-align: center;
    margin-top: 1rem;
    color: #2d62c8;
    font-size: .75rem;
    font-weight: bold;
    display: block;
    padding: .5rem;
}
.login-form .error {
    color: red;
    text-align: center;
    font-size: .75rem;
}

a.req {
    background-color: #2d62c8;
    text-align: center;
    margin: 0 2rem;
    font-size: .9rem;
    display: block;
    color: #fff;
    padding: .75rem 0rem;
    border-radius: .25rem;
}

.head {
    height: 2.5rem;
    background-color: #fff;
    border-bottom: 1px solid #E5E5E5;
    /*box-shadow: 0 0 1px 0px rgba(0,0,0,0.3),0 0 6px 2px rgba(0,0,0,0.15);*/
    display: block;
}

.head .logo {
    background-image: url("../img/logo3.png");
    background-size: 4.5rem 2.5rem;
    width: 4.5rem;
    height: 2.5rem;
    float: left;
}
.head .navs {
    float: right;
    padding: .7rem;
    color: #2d62c8;
    font-size: .9rem;
}
.project {
    margin: .25rem;
    border-left: .2rem solid #1C3C77;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    position: relative;
    display: block;
    height: 6.5rem;
    background: #fff;
}
.project .profit {
    position: absolute;
    left:.75rem;
    top:1.25rem;
    font-size: 2.5rem;
    color: #DA5558;
}
.project .profit em {
    font-size: 1.25rem;
}

.project .dura {
    position: absolute;
    color: #2c61c9;
    font-size: .75rem;
    top: 1.5rem;
    left: 5.5rem;
}

.project .total {
    position: absolute;
    color: #2c61c9;
    font-size: .75rem;
    top: 1.5rem;
    left: 8rem;
}

.project .retmethod {
    position: absolute;
    color: #5099F5;
    font-size: .625rem;
    top: 3rem;
    left: 5.5rem;
}

.project .title {
    position: absolute;
    bottom: .5rem;
    left: 1rem;
    width: 17rem;
    border-top: 1px dashed #777;
}
.project .title span, .project .title em {
    font-size: .625rem;
    margin-top: .225rem;
}

.project .title div {
    font-size: .625rem;
    margin-top: .325rem;
}
.project .title .name {
    color: #888;
}

.project .title .guarantee {
    color: #2c61c9;
    float: right;
}

.project .detail {
    position: absolute;
    top: 1rem;
}

.more {
    font-size: .75rem;
    text-align: center;
    padding: .5rem 0;
    color: #888;
}

.yeah {
    margin-left: 6rem;
    background-image: url("../img/yeah.png");
    background-size: 6.75rem 6rem;
    width: 6.75rem;
    height: 6rem;
    margin-top: 1rem;
}

.hello {
    color: #777;
    line-height: 1.5rem;
    font-size: .5rem;
}

.remains {
    font-size: 1.5rem;
    color: #2d62c8;
    margin-bottom: .6rem;
}

.usummary {
    background-color: #DA5558;
    color: #fff;
    height: 7.5rem;
}

.usummary .showhi {
    font-size: .625rem;
    padding-left:1rem;
    padding-top: 1rem;
}
.usummary .gained {
    padding-left:1rem;
    font-size: 3rem;
    margin-top: 1.25rem;
}

.metotal {
    background-color: #fff;
}
.metotal .showhi1 {
    font-size: .625rem;
    color: #656565;
    padding: 1rem;
}
.metotal .showtotal {
    font-size: 2.25rem;
    color: #519BF8;
    padding: 0 1rem 1rem 1rem;
}

.smallbtn {
    line-height: .825rem;
    padding: 0.35rem 1rem;
    background-color: #519BF8;
    font-size: .825rem;
    color: #fff;
    border-radius: 5px;
}

a.smallbtn:visited {
    color: #fff;
}


.projtitle {
    margin: 0 .5rem;
    padding: .5rem;
    font-size: .5rem;
    border-bottom: 1px dashed #777;
    background-color: #fff;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
}

.projtitle em {
    /*margin-top: .3rem;*/
}
.projtitle .name {
    color: #888;
}
.projtitle .guarantee {
    color: #2D62C8;
    margin-left: .5rem;
}

.megrid {
    width: 100%;
    background-color: #F0F0F0;
}

.megrid .line {
    border-bottom: 1px solid #fff;
    height: 4rem;
    width: 100%;
}

.megrid .line>div.grid {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    float: left;
    border-right: 1px solid #fff;
    background-color: #F0F0F0;
    padding: .8rem 0 0 .8rem;
}

.megrid .linetitle {
    color: #646464;
    font-size: .6rem;
    line-height: .8rem;
}

.megrid .linemoney {
    color: #519BF8;
    font-size: 1rem;
    margin-top: .3rem;
}

.foot {
    line-height: 2rem;
    margin-top: 1rem;
    background-color: #656565;
    text-align: center;
    color: #939393;
    font-size: .5rem;
}

em.ensp {
    background-image: url('../img/baozhang.png');
    width: .6rem;
    display: inline-block;
    height: .6rem;
    background-size: .6rem .6rem;
}
em.ens0 {
    background-image: url('../img/bao.png');
    width: .6rem;
    display: inline-block;
    height: .6rem;
    background-size: .6rem .6rem;
}
em.ens1 {
    background-image: url('../img/zaibao.png');
    width: 1.2rem;
    display: inline-block;
    height: .6rem;
    background-size: 1.2rem .6rem;
}
em.shield {
    background-image: url('../img/security.png');
    width: .85rem;
    display: inline-block;
    height: .9rem;
    background-size: .8rem .8rem;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.loader {
    width: 7rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: #ce4233;
    letter-spacing: 0.2em;
}

.loader::before, .loader::after {
    content: "";
    display: block;
    width: 1rem;
    height: .3rem;
    background: #ce4233;
    position: absolute;
    -webkit-animation: load .7s ease-in-out;
    animation: load .7s ease-in-out;
/*
 infinite alternate
 */
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}
.loader::before {
    top: -0.3rem;
}
.loader::after {
    bottom: -0.3rem;
}


.msg-container {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.3);
}
.msg-container .msgbox {
    width: 16rem;
    height: 9rem;
    background-color: #fff;
    margin: 7rem auto;
    border-radius: .5rem;
}
.msg-container .msgbox .content {
    color: #8d8d8d;
    height: 4.6rem;
    font-size: .8rem;
    border-bottom: 1px solid #ccc;
    padding: 1rem;
}

.msg-container .msgbox .btns {
    text-align: center;
}

.msg-container .msgbox .btns a {
    font-size: 1rem;
    color: #2c62c8;
    line-height: 2.5rem;
}
.msg-container .msgbox .btns.pressed {
    background: #f4f5f9;
}

@-webkit-keyframes load {
    0% {
       -webkit-transform: translateX(0rem);
    }
    100% {
       -webkit-transform: translateX(6rem);
    }
}

@keyframes load {
    0% {
        transform: translateX(0rem);
    }
    100% {
        transform: translateX(6rem);
    }
}


.animated {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


.animated.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    -moz-animation-name: fadeOutUp;
    -o-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
}
@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-100px);
    }
}
@keyframes fadeOutUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}


@-webkit-keyframes zoomIn {
    from {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
}

@keyframes zoomIn {
    from {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}


@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

