* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html, body {
    background: #ebebeb;
    font-family: Helvetica,sans-serif;
}
.wrapper {
    display: none;
}
.wrapper .logo {
    background-image: url('../img/logo.png');
    background-size: 38rem auto;
    width: 38rem;
    height: 21rem;
}
.content-form {
    padding: 0 2rem;
}
.login-form {
    margin-top: 3rem;
    padding: 2rem;
}

input[type='text'],input[type='password'] {
    margin-left: 4rem;
    padding: 1rem;
    border: none;
    font-size: 1.4rem;
    box-shadow: none;
    width: 24rem;
    margin-bottom: 1rem;
}

input.full {
    margin-left: 0;
    border: none;
    width: 32rem;
}

.login-form input[type='checkbox'] {
    width: 2.5rem;
    height: 2.5rem;
}

.login-form .bindwx {
    vertical-align: super;
    text-align: center;
    margin-top: 2rem;
    color: #2d62c8;
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    padding: 1rem;
}

a.req {
    background-color: #2d62c8;
    text-align: center;
    margin: 0 4rem;
    font-size: 1.8rem;
    display: block;
    color: #fff;
    padding: 1.5rem 0rem;
    border-radius: .5rem;
}

.head {
    height: 5rem;
    background-color: #fff;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.3),0 0 6px 2px rgba(0,0,0,0.15);
    display: block;
}

.head .logo {
    background-image: url("../img/logo3.png");
    background-size: 9rem 5rem;
    width: 9rem;
    height: 5rem;
    float: left;
}

.head .navs {
    float: right;
    padding: 2rem;
    color: #2d62c8;
    font-size: 1.4rem;
}

.project {
    margin: .5rem;
    border-left: .4rem solid #1C3C77;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    position: relative;
    display: block;
    height: 13rem;
    background: #fff;
}
.project .profit {
    position: absolute;
    left:1.5rem;
    top:2.5rem;
    font-size: 5rem;
    color: #DA5558;
}
.project .profit em {
    font-size: 2.5rem;
}

.project .dura {
    position: absolute;
    color: #2c61c9;
    font-size: 1.5rem;
    top: 3rem;
    left: 11rem;
}

.project .total {
    position: absolute;
    color: #2c61c9;
    font-size: 1.5rem;
    top: 3rem;
    left: 16rem;
}

.project .retmethod {
    position: absolute;
    color: #5099F5;
    font-size: 1.25rem;
    top: 6rem;
    left: 11rem;
}

.project .title {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    width: 34rem;
    border-top: 1px dashed #777;
}
.project .title div, .project .title em {
    float: left;
    font-size: 1.25rem;
    margin-top: 1.25rem;
}

.project .title .name {
    color: #888;
}

.project .title .guarantee {
    color: #2c61c9;
    float: right;
}


.circle {
    width: 7rem;
    height: 7rem;
    position: absolute;
    right: 2rem;
    top:2rem;
    border-radius: 50%;
    background: #2c61c9;
}

.circle .pie_left, .circle .pie_right {
    width:7rem;
    height:7rem;
    position: absolute;
    top: 0;left: 0;
}
.circle .left, .circle .right {
    width:7rem;
    height:7rem;
    background:#aaa;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: 1s transform ;
    -webkit-transition-timing-function: linear;
}
.circle .left {
    -webkit-transition-delay: 1s;

}
.circle .pie_right, .circle .right {
    clip:rect(0,auto,auto,3.5rem);
}
.circle .pie_left,.circle .left {
    clip:rect(0,3.5rem,auto,0);
}
.circle .mask {
    width: 6.2rem;
    height: 6.2rem;
    border-radius: 50%;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    background: #fff;
    text-align: center;
    line-height: 6.5rem;
    font-size: 1.5rem;
    color: #2c61c9;
}

.recents {
    height: 4rem;
    font-size: 1.6rem;
    padding-left: 15rem;
    color: #fff;
    line-height: 4rem;
    background: -webkit-linear-gradient(-90deg, #4F9AF7, #2169E2 100%);
    background: -moz-linear-gradient(180deg, rgba(64,150,238,1) 0, rgba(14,90,255,1) 100%);
    background: linear-gradient(180deg, rgba(64,150,238,1) 0, rgba(14,90,255,1) 100%);
    display: block;
}

.yeah {
    margin-left: 13rem;
    background-image: url("../img/yeah.png");
    background-size: 13.5rem 12rem;
    width: 13.5rem;
    height: 12rem;
    margin-top: 4rem;
}

.hello {
    color: #777;
    font-weight: bold;
    line-height: 3rem;
}

.remains {
    font-size: 3.5rem;
    color: #2d62c8;
}

.usummary {
    background-color: #DA5558;
    color: #fff;
    height: 15rem;

}

.usummary .showhi {
    font-size: 1.25rem;
    padding-left:2rem;
    padding-top: 2rem;
}
.usummary .gained {
    padding-left:2rem;
    font-size: 6rem;
    margin-top: 2.5rem;
}

.metotal {
    background-color: #fff;
}
.metotal .showhi1 {
    font-size: 1.25rem;
    color: #656565;
    padding: 2rem;
}
.metotal .showtotal {
    font-size: 4.5rem;
    color: #519BF8;
    padding: 0 2rem 2rem 2rem;
}

.megrid {

}

.megrid .line {
    height: 10.2rem;
    border-bottom: 1px solid #fff;
}
.megrid .line>div {
    border-right: 1px solid #fff;
    margin-left: 1px;
    width: 15rem;
    float: left;
    background-color: #F0F0F0;
    padding: 2rem;
}

.megrid .linetitle {
    color: #646464;
    font-size: 1.25rem;
}
.megrid .linemoney {
    color: #519BF8;
    padding-top: 1rem;
    font-size: 3rem;
}

.foot {
    line-height: 2rem;
    margin-top: 2rem;
    background-color: #656565;
    text-align: center;
    color: #939393;
    font-size: 1rem;
}

em.ensp {
    margin-left: .5rem;
    background-image: url('../img/baozhang.png');
    width: 1.2rem;
    display: inline-block;
    height: 1.2rem;
    background-size: 1.2rem 1.2rem;
}
em.ens0 {
    margin-left: .5rem;
    background-image: url('../img/bao.png');
    width: 1.2rem;
    display: inline-block;
    height: 1.2rem;
    background-size: 1.2rem 1.2rem;
}
em.ens1 {
    margin-left: .5rem;
    background-image: url('../img/zaibao.png');
    width: 2.4rem;
    display: inline-block;
    height: 1.2rem;
    background-size: 2.4rem 1.2rem;
}