@charset "utf-8";
/*

	Codeboy
	通用样式
	
*/

* {
	padding: 0px;
	margin: 0px;
	font-family: "微软雅黑";
	font-style: normal;
	font-weight: normal;
}
a {
	text-decoration: none;
}
ul, ol {
	list-style: none;
}
fieldset, img {
	border: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
address, caption, cite, code, dfn, em, strong, th, var, i,b {
	font-style: normal;
	font-weight: normal
}
h1, h2, h3, h4, h5, h6 {
	font-size: 12px;
	font-weight: normal
}
q:before, q:after {
	content: ''
}
abbr, acronym {
	border: 0
}

.hide {
	display:none !important;
}
.u-line {
	text-decoration:underline !important;
}
.w1150 {
	width:1150px !important;
	margin-left:auto !important;
	margin-right:auto !important;
}

.w1150:after {
	content:' ';
	height:0px;
	clear:both;
	display:block;
}
.cls-mr {
	margin-right:2px !important;
}


@charset "utf-8";
#content {
	height: auto;
	width: 1150px;
	margin-right: auto;
	margin-left: auto;
}
.bg {
	background-color: #efefed;
}
.regform {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-color: #21a3e0;
	background-color: #FFF;
}
.regform .yinying {
	clear: both;
	background-image: url(../img/rongzirukouP-1_003.png);
	background-repeat: repeat-x;
	height: 8px;
	width: auto;
}
.regform .title span {
	font-size: 20px;
	font-weight: bold;
	color: #333333;
}
.regform .title {
	text-align: center;
	height: auto;
	width: auto;
	padding-top: 32px;
	padding-bottom: 32px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e5e5e5;
}
.regform .form-content {
	height: auto;
	width: auto;
	padding-top: 24px;
	padding-bottom: 120px;
	padding-left: 222px;
}

.regform table tr td {
	height: 30px;
}

.regform table tr td input {
	height: 40px;
	width: 310px;
	border: 1px solid #dedede;
	line-height: 40px;
	border-radius: 2px;
	padding-right: 10px;
	padding-left: 10px;
}

.regform  table tr td span {
	font-size: 14px;
	color: #666666;
}
.regform  table tr td b {
	color: #e03121;
	margin-right: 5px;
}
.regform  table tr td em {
	display: block;
	padding: 2px 0px;
	font-size:12px;
	min-height:10px;
}
.regform  table tr td em.fail {
	color: #e03121;
}

.regform  table tr td em.sucess {
	color: green;
}

.regform  table tr td .active-btn {
	background-image: url(../img/big-btn-bg.png);
	background-repeat: repeat-x;
	border-radius: 6px;
	height: 46px;
	font-size: 16px;
	color: #fff;
	margin-top: 36px;
	width: 333px;
}

.regform  table tr td .unactive-btn {
	background-image: url(../img/big-btn-bg-grey.png);
	background-repeat: repeat-x;
}

.regform  table tr td select {
	width: 170px;
	margin-right: 13px;
	padding: 10px;
}
.regform  table tr td select option {
}

.regform  table tr td .form-check {
	width: 130px;
	margin-left: 6px;
	background-image: url(../img/big-btn-bg-grey.png);
	background-repeat: repeat-x;
	height: 42px;
	border-top: none;
}

.step2 {
	display: none;
}


.active-btn {
	cursor: pointer;
}
a {
	cursor: pointer;
}
