@charset "utf-8";
#index_top {
	height: auto;
	width: auto;
	margin-bottom: 8px;
}
.index_top-lv01 {
	height: 31px;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	font-size: 12px;
	color: #666666;
	background-image: url(../img/top_003.png);
	background-repeat: repeat-x;
}
.index_top-lv01 .l {
	float: left;
	height: auto;
	width: auto;
}
.index_top-lv01 .r {
	float: right;
	height: auto;
	width: auto;
	position: relative;
}
.index_top-lv01 .r span a {
	color: #e03121;
}
.index_top-lv01 .l span {
	height: 31px;
	width: auto;
	display: block;
	float: left;
	line-height: 31px;
	margin-right: 20px;
	font-weight: bold;
}
.index_top-lv01 .r span {
	height: 31px;
	width: auto;
	display: block;
	float: left;
	line-height: 31px;
	margin-right: 10px;
	font-weight: bold;
}
.index_top-lv02 {
	height: 259px;
	width: 1150px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../img/index_001.png);
	background-repeat: no-repeat;
}
.index_top-lv02 .l a img {
	height: auto;
	width: auto;
	padding-index_top: 28px;
}
.index_top-lv02 .l {
	float: left;
	height: auto;
	width: auto;
}
.index_top-lv02 .r {
	float: right;
	height: auto;
	width: auto;
}
.index_top-lv02 .r a {
	display: block;
	height: 46px;
	width: 102px;
	margin-index_top: 39px;
	background-image: url(../img/top_006.png);
	background-repeat: no-repeat;
	color: #FFF;
	line-height: 46px;
	text-align: center;
	display: block;
	padding-left: 20px;
}
.index_top-lv02 .r a:hover {
	background-image: url(../img/top_005.png);
	background-repeat: no-repeat;
	font-size: 16px;
}
.bg {
	background-image: url(../img/top_007.png);
	background-repeat: repeat-x;
	background-color: #efefed;
}
.index_top-lv03 {
	height: 50px;
	width: 1150px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../img/top_008.png);
	background-repeat: repeat-x;
}
.index_top-lv03 ul li a {
	font-size: 18px;
	color: #FFF;
}
.index_top-lv03 ul li {
	float: left;
	height: 50px;
	width: 191px;
	line-height: 50px;
	text-align: center;
}
.index_top-lv03 ul li:hover {
	background-image: url(../img/top_009.png);
	background-repeat: repeat-x;
}
.index_top-lv01 .w1150 .r img {
	float: left;
	height: auto;
	width: auto;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 4px;
}
.index_top-lv01 .w1150 .r .bgbai {
	background-color: #FFF;
}
.index_top-lv01 .w1150 .r .nohot {
	padding-right: 30px;
	padding-left: 10px;
	background-image: url(../img/index_005.png);
	background-repeat: no-repeat;
	background-position: 70px center;
}
.index_top-lv01 .w1150 .r .nohot:hover {
	background-color: #FFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #d8d8d6;
	border-right-color: #d8d8d6;
	border-bottom-color: #d8d8d6;
	border-left-color: #d8d8d6;
	padding-right: 29px;
	padding-left: 9px;
	height: 30px;
	background-position: 69px center;
	line-height: 30px;
	background-image: url(../img/index_006.png);
	background-repeat: no-repeat;
}
.index_top-lv01 .w1150 .r .pop_login {
	height: 130px;
	width: 280px;
	position: absolute;
	top: 30px;
	right: 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #d8d8d6;
	border-right-color: #d8d8d6;
	border-bottom-color: #d8d8d6;
	border-left-color: #d8d8d6;
}
.index_top-lv02 .l {
	float: left;
	height: auto;
	width: 900px;
}
.index_top-lv02 .r {
	float: right;
	height: auto;
	width: auto;
}
.index_top-lv02 .l .l_01 {
	height: auto;
	width: auto;
	padding-top: 28px;
}
.index_top-lv02 .l .l_02 ul li {
	float: left;
	height: auto;
	width: auto;
	margin-right: 45px;
}
.index_top-lv02 .l .l_02 ul li .icon img {
	margin-right: auto;
	margin-left: auto;
	height: auto;
	width: auto;
}
.index_top-lv02 .l .l_02 ul li .icon {
	height: auto;
	width: auto;
	text-align: center;
}
.index_top-lv02 .l .l_02 {
	height: auto;
	width: auto;
}
.index_top-lv02 .l .l_02:after {
	content: ' ';
	height: 0px;
	clear: both;
	display: block;
}
.index_top-lv02 .l .l_02 ul li .text {
	height: auto;
	width: auto;
	padding-top: 18px;
}
.index_top-lv02 .l .l_02 ul li .text span {
	font-size: 14px;
	color: #666;
}
.index_top-lv02 .l .l_02 ul li .text {
	text-align: center;
	height: auto;
	width: auto;
	padding-top: 18px;
}
.index_top-lv02 .l .l_02 ul {
	height: auto;
	width: auto;
	padding-top: 50px;
}
.index_top-lv02 .r .r_01 {
	text-align: right;
	height: auto;
	width: auto;
	padding-top: 18px;
}
.index_top-lv02 .r .r_02 {
	text-align: right;
	height: auto;
	width: auto;
	padding-top: 6px;
}
.index_top-lv02 .r .r_03 input {
	height: 24px;
	width: 88px;
	border: 1px solid #cacac9;
	display: block;
	margin-right: 0px;
	margin-left: auto;
	background-image: url(../img/index_017.png);
	background-repeat: repeat-x;
	margin-bottom: 5px;
	border-radius: 4px;
}
.index_top-lv02 .r .r_01 span {
	font-size: 16px;
	color: #000;
}
.index_top-lv02 .r .r_03 {
	height: auto;
	width: auto;
	padding-top: 8px;
}
.index_top-lv04 {
	height: auto;
	width: 1150px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 8px;
}
.index_top-lv04:after {
	content: ' ';
	height: 0px;
	clear: both;
	display: block;
}
.index_top-lv04 .l .l_01 .title_l span {
	font-size: 16px;
	font-weight: bold;
	color: #000;
}
.index_top-lv04 .l .l_01 .title_l {
	float: left;
	height: auto;
	width: auto;
}
.index_top-lv04 .l .l_01 .title_r {
	float: right;
	height: auto;
	width: auto;
}
.index_top-lv04 .l .l_01:after {
	content: ' ';
	height: 0px;
	clear: both;
	display: block;
}
.index_top-lv04 .l .l_01 {
	height: auto;
	width: auto;
}
.index_top-lv04 .l .l_02 {
	height: auto;
	width: auto;
	padding-top: 20px;
}
.index_top-lv04 .l .l_02:after {
	content: ' ';
	height: 0px;
	clear: both;
	display: block;
}
.index_top-lv04 .l .l_02 .list_l ul li span {
	font-size: 14px;
	color: #666;
	margin-left: 4px;
}
.index_top-lv04 .l .l_02 .list_l ul li span a {
	font-size: 14px;
	color: #666;
}
.index_top-lv04 .l .l_02 .list_l ul li {
	display: block;
	height: auto;
	width: auto;
	padding-top: 8px;
	padding-bottom: 8px;
}
/*********/
.index_top-lv04 .l .l_02 .list_r ul li span {
	font-size: 14px;
	color: #666;
	margin-left: 4px;
}
.index_top-lv04 .l .l_02 .list_r ul li span a {
	font-size: 14px;
	color: #666;
}
.index_top-lv04 .l .l_02 .list_r ul li {
	display: block;
	height: auto;
	width: auto;
	padding-top: 8px;
	padding-bottom: 8px;
}
.index_top-lv04 .l .l_02 .list_l {
	float: left;
	height: auto;
	width: auto;
}
.index_top-lv04 .l .l_02 .list_r {
	float: right;
	height: auto;
	width: auto;
}
.index_top-lv04 .l {
	float: left;
	height: auto;
	width: 800px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #21a3e0;
}
.index_top-lv04 .r {
	width: 340px;
	float: right;
	height: auto;
	background-color: #FFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #21a3e0;
}
.index_top-lv04 .l .l_02 .list_c {
	float: right;
	height: 200px;
	width: 1px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #e5e5e5;
	margin-right: 35px;
	margin-top: 10px;
}
.index_top-lv04 .l .l_01 .title_r span a {
	font-size: 14px;
	color: #999;
}
.index_top-lv04 .l .yinying {
	clear: both;
	background-image: url(../img/rongzirukouP-1_003.png);
	background-repeat: repeat-x;
	height: 8px;
	width: auto;
}
.index_top-lv04 .l .box {
	background-color: #FFF;
	padding: 30px;
	height: auto;
	width: auto;
}
.index_top-lv04 .r .box {
	padding: 30px;
	height: auto;
	width: auto;
}
.index_top-lv04 .r .yinying {
	clear: both;
	background-image: url(../img/rongzirukouP-1_003.png);
	background-repeat: repeat-x;
	height: 8px;
	width: auto;
}
.index_top-lv04 .r .box .r_01 span {
  font-size: 14px;
  /* font-weight: bold; */
  color: #FF6500;
}
.index_top-lv04 .r .box .r_02 span {
	float: left;
	height: 31px;
	width: auto;
	font-size: 16px;
	line-height: 31px;
	text-align: center;
	cursor: pointer;
}
.index_top-lv04 .r .box .r_02 .tab_l {
	height: 31px;
	width: 137px;
	background-image: url(../img/index_033.png);
	font-size: 16px;
	color: #666;
	background-repeat: no-repeat;
}
.index_top-lv04 .r .box .r_02 .tab_l.current {
	float: left;
	height: 31px;
	width: 140px;
	background-image: url(../img/index_007.png);
	background-repeat: no-repeat;
	color: #FFF;
}
.index_top-lv04 .r .box .r_02 .tab_r {
	font-size: 16px;
	color: #666;
	height: 31px;
	width: 137px;
	background-image: url(../img/index_032.png);
	background-repeat: no-repeat;
}
.index_top-lv04 .r .box .r_02 .tab_r.current {
	height: 31px;
	width: 140px;
	background-image: url(../img/index_008.png);
	background-repeat: no-repeat;
	color: #FFF;
}
.index_top-lv04 .r .box .r_03 .form-text {
	height: 30px;
	width: 178px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	margin-bottom: 10px;
	padding-left: 96px;
}
.index_top-lv04 .r .box .r_03 {
	width: auto;
	position: relative;
	height: auto;
	margin-top: 18px;
}
.index_top-lv04 .r .box .r_03 .usr {
	font-size: 14px;
	color: #666;
	background-image: url(../img/index_019.png);
	background-repeat: no-repeat;
	display: block;
	height: 32px;
	width: 86px;
	line-height: 32px;
	text-align: center;
}
.index_top-lv04 .r .box .r_02 {
	height: auto;
	width: auto;
	margin-top: 26px;
}
.index_top-lv04 .r .box .r_02:after {
	content: ' ';
	height: 0px;
	clear: both;
	display: block;
}
.index_top-lv04 .r .box .r_03 .pwd {
	font-size: 14px;
	color: #666;
	background-image: url(../img/index_019.png);
	background-repeat: no-repeat;
	display: block;
	height: 32px;
	width: 86px;
	position: absolute;
	line-height: 32px;
	text-align: center;
	top: 42px;
	left: 0px;
}
.index_top-lv04 .r .box .r_03 .form-button {
	height: 32px;
	width: 274px;
	border: none;
	background-image: url(../img/index_018.png);
	background-repeat: no-repeat;
	border-radius: 3px;
	font-size: 14px;
	color: #fff;
	line-height: 32px;
	text-align: center;
	margin-top: 10px;
}
.index_top-lv04 .r .box .r_04 .r_04_l {
	font-size: 12px;
	color: #666;
	font-weight: bold;
	float: left;
	height: auto;
	width: auto;
}
.index_top-lv04 .r .box .r_04 .r_04_r {
	font-size: 12px;
	font-weight: bold;
	color: #666;
	float: right;
	height: auto;
	width: auto;
}
.index_top-lv04 .r .box .r_04 a {
	color: #666;
}
.index_top-lv04 .r .box .r_04 {
	height: auto;
	width: auto;
	margin-top: 24px;
}
.index_top-lv04 .r .box .r_04:after {
	content: ' ';
	height: 0px;
	clear: both;
	display: block;
}
.index_top-lv05 {
	height: auto;
	width: 1150px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 8px;
}
.index_top-lv05:after {
	content: ' ';
	height: 0px;
	clear: both;
	display: block;
}
.index_top-lv05 .l {
	float: left;
	height: auto;
	width: 800px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #21a3e0;
	background-color: #FFF;
}
.index_top-lv05 .r {
	float: right;
	height: auto;
	width: 340px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #21a3e0;
	background-color: #FFF;
}
.index_top-lv05 .l .l_top .l_top_l span {
	font-size: 16px;
	color: #333;
	font-weight: bold;
}
.index_top-lv05 .l .l_top .l_top_r a {
	font-size: 14px;
	color: #666;
}
.index_top-lv05 .l .l_top .l_top_l {
	float: left;
	height: auto;
	width: auto;
}
.index_top-lv05 .l .l_top .l_top_r {
	float: right;
	height: auto;
	width: auto;
}
.index_top-lv05 .l .box {
	padding: 30px;
	height: auto;
	width: auto;
}
.index_top-lv05 .l .box .l_top {
	height: auto;
	width: auto;
}
.index_top-lv05 .l .box .l_top:after {
	content: ' ';
	height: 0px;
	clear: both;
	display: block;
}
.index_top-lv05 .l .box .content ul li {
	float: left;
	height: auto;
	width: 185px;
	text-align: center;
	margin-bottom: 16px;
}
.index_top-lv05 .l .box .content {
	height: auto;
	width: auto;
	padding-top: 30px;
}
.index_top-lv05 .l .box .content ul:after {
	content: ' ';
	height: 0px;
	clear: both;
	display: block;
}
.index_top-lv05 .l .yinying {
	clear: both;
	background-image: url(../img/rongzirukouP-1_003.png);
	background-repeat: repeat-x;
	height: 8px;
	width: auto;
}
.index_top-lv05 .r .box .title .title_l {
	font-size: 16px;
	font-weight: bold;
	color: #000;
	float: left;
	height: auto;
	width: auto;
}
.index_top-lv05 .r .box .title .title_r {
	font-size: 14px;
	color: #666;
	float: right;
	height: auto;
	width: auto;
}
.index_top-lv05 .r .box .title .title_r a {
	color: #666;
}
.index_top-lv05 .r .box {
	padding: 30px;
	height: auto;
	width: auto;
}
.index_top-lv05 .r .box .title:after {
	content: ' ';
	height: 0px;
	clear: both;
	display: block;
}
.index_top-lv05 .r .box .content ul li a {
	font-size: 14px;
	color: #666;
	height: auto;
	width: auto;
}
.index_top-lv05 .r .box .content ul li {
	line-height: 1.9em;
	height: auto;
	width: auto;
}
.index_top-lv05 .r .box .content ul li img {
	height: auto;
	width: auto;
	margin-right: 10px;
}
.index_top-lv05 .r .box .content {
	height: auto;
	width: auto;
	padding-top: 30px;
}
.index_top-lv05 .r .yinying {
	clear: both;
	background-image: url(../img/rongzirukouP-1_003.png);
	background-repeat: repeat-x;
	height: 8px;
	width: auto;
}
.index_top-lv06 {
	height: auto;
	width: 1150px;
	margin-top: 8px;
	margin-right: auto;
	margin-left: auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #21a3e0;
	background-color: #FFF;
}
.index_top-lv06 .title .l {
	font-size: 16px;
	font-weight: bold;
	color: #000;
	float: left;
	height: auto;
	width: auto;
}
.index_top-lv06 .title .r a {
	font-size: 14px;
	color: #666;
}
.index_top-lv06 .title .r {
	float: right;
	height: auto;
	width: auto;
}
.index_top-lv06 .box {
	padding: 30px;
	height: auto;
	width: auto;
}
.index_top-lv06 .yinying {
	clear: both;
	background-image: url(../img/rongzirukouP-1_003.png);
	background-repeat: repeat-x;
	height: 8px;
	width: auto;
}
.index_top-lv06 .box .title:after {
	content: ' ';
	height: 0px;
	clear: both;
	display: block;
}
.index_top-lv06 .box .content .box_1 {
	float: left;
	height: auto;
	width: 324px;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-right: 59px;
}
.index_top-lv06 .box .content .box_1 .box_1_top .l {
	float: left;
	height: auto;
	width: auto;
	font-size: 14px;
	font-weight: bold;
	color: #666;
}
.index_top-lv06 .box .content .box_1 .box_1_top .r {
	font-size: 14px;
	color: #666;
	float: right;
	height: auto;
	width: auto;
}
.index_top-lv06 .box .content .box_1 .box_1_top .r a {
	color: #666;
}
.index_top-lv06 .box .content .box_1 .box_1_top:after {
	content: ' ';
	height: 0px;
	clear: both;
	display: block;
}
.index_top-lv06 .box .content .box_1 .box_1_top {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #21a3e0;
	height: auto;
	width: auto;
	padding-bottom: 10px;
}
.index_top-lv06 .box .content .box_1 .box_1_foot {
	height: auto;
	width: auto;
	margin-top: 2px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #21a3e0;
}
.index_top-lv06 .box .content .box_1 .box_1_foot .item .l {
	line-height: 30px;
	height: 30px;
	width: auto;
	margin-top: 10px;
	float: left;
}
.index_top-lv06 .box .content .box_1 .box_1_foot .item .l span {
	font-size: 14px;
	line-height: 30px;
	color: #666;
	display: block;
	height: 30px;
	width: auto;
	float: left;
	padding-left: 15px;
}
.index_top-lv06 .box .content .box_1 .box_1_foot .item .l img {
	height: auto;
	width: 60px;
	float: left;
	margin-top: 6px;
}
.index_top-lv06 .box .content .box_1 .box_1_foot .item .r {
	float: right;
	height: auto;
	width: auto;
	margin-top: 10px;
}
.index_top-lv06 .box .content .box_1 .box_1_foot .item .r cite {
	font-size: 14px;
	color: #333;
	font-weight: bold;
	display: block;
}
.index_top-lv06 .box .content .box_1 .box_1_foot .item .r span {
	font-size: 14px;
	font-weight: bold;
	color: #666;
}
.index_top-lv06 .box .content .box_1 .box_1_foot .item .r span b {
	font-size: 14px;
	font-weight: bold;
	color: #e03121;
}
.index_top-lv06 .box .content .box_1 .box_1_foot .item:after {
	content: ' ';
	height: 0px;
	clear: both;
	display: block;
}
.index_top-lv06 .box .content .box_1 .box_1_foot .item {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e5e5e5;
	height: auto;
	width: auto;
	padding-bottom: 5px;
}
.index_top-lv06 .box .content .box_1 .box_1_foot .item:after {
	content: ' ';
	height: 0px;
	clear: both;
	display: block;
}
.index_top-lv06 .box .content .box_1 .box_1_foot .item.cls_b {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.index_top-lv06 .box .content {
	height: auto;
	width: auto;
}
.index_top-lv06 .box .content .box_1.cl-mr {
	margin-right: 0px;
}
.index_top-lv06 .box .content .box_1.cl-mr .box_1_foot .item.cls_b.fix {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.index_top-lv07 {
	background-color: #FFF;
	height: auto;
	width: 1150px;
	margin-left: auto;
	margin-right: auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #21a3e0;
	margin-top: 10px;
}
.index_top-lv07 .box {
	padding: 30px;
	height: auto;
	width: auto;
}
.index_top-lv07 .yinying {
	clear: both;
	background-image: url(../img/rongzirukouP-1_003.png);
	background-repeat: repeat-x;
	height: 8px;
	width: auto;
}
.index_top-lv07 .box .title {
	height: auto;
	width: auto;
	margin-bottom: 25px;
}
.index_top-lv07 .box .title:after {
	content: ' ';
	height: 0px;
	clear: both;
	display: block;
}
.index_top-lv07 .box .title .l {
	font-size: 16px;
	font-weight: bold;
	color: #000;
	float: left;
	height: auto;
	width: auto;
}
.index_top-lv07 .box .title .r {
	font-size: 14px;
	color: #333;
	float: right;
	height: auto;
	width: auto;
	font-weight: bold;
}
.index_top-lv07 .box .title .r a {
	font-size: 14px;
	color: #333;
}
.index_top-lv07 .box .content .l ul li {
	display: block;
	height: 30px;
	width: 184px;
	background-color: #FFF;
	margin-bottom: 10px;
	cursor: pointer;
}
.index_top-lv07 .box .content .l ul li span {
	display: block;
	height: 30px;
	width: 175px;
	background-color: #f0f0f0;
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	color: #000;
	text-align: center;
}
.index_top-lv07 .box .content .l ul .current {
	background-color: #d8f0fc;
}
.index_top-lv07 .box .content .l ul .current span {
	background-color: #36b2eb;
}
.index_top-lv07 .box .content .l {
	float: left;
	height: auto;
	width: 174px;
}
.index_top-lv07 .box .content .r {
	height: auto;
	width: 906px;
	float: right;
}
.index_top-lv07 .box .content .r table tr {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d8d8d8;
}
.index_top-lv07 .box .content .r table {
	height: auto;
	width: 906px;
}
.index_top-lv07 .box .content .r table tr td {
	text-align: center;
	height: 30px;
	width: auto;
	font-size: 14px;
	color: #333;
	font-weight: bold;
}
.index_top-lv07 .box .content .r table tr .fix1 {
	width: 20%;
	height: 40px;
	line-height: 40px;
}
.index_top-lv07 .box .content .r table tr .fix2 {
	width: 20%;
	color: #d44e42;
	height: 40px;
	line-height: 40px;
}
.index_top-lv07 .box .content {
	height: auto;
	width: auto;
}

.index_top-lv07 .box .content:after {
	content:' ';
	height:0px;
	clear:both;
	display:block;
}
.index_top-lv08 {
	background-color: #FFF;
	height: auto;
	width: 1150px;
	margin-right: auto;
	margin-left: auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #21a3e0;
	margin-top: 10px;
}
.index_top-lv08 .yinying {
	clear: both;
	background-image: url(../img/rongzirukouP-1_003.png);
	background-repeat: repeat-x;
	height: 8px;
	width: auto;	
}
.index_top-lv08 .box {
	padding: 30px;
	height: auto;
	width: auto;
}

.index_top-lv08 .box .title {
	height: auto;
	width: auto;
	margin-bottom: 25px;
}
.index_top-lv08 .box .title:after {
	content: ' ';
	height: 0px;
	clear: both;
	display: block;
}
.index_top-lv08 .box .title .l {
	font-size: 16px;
	font-weight: bold;
	color: #000;
	float: left;
	height: auto;
	width: auto;
}
.index_top-lv08 .box .title .r {
	font-size: 14px;
	color: #333;
	float: right;
	height: auto;
	width: auto;
	font-weight: bold;
}
.index_top-lv08 .box .title .r a {
	font-size: 14px;
	color: #333;
}.index_top-lv08 .box .content a {
	float: left;
	height: 48px;
	width: 272px;
	display: block;

}
.index_top-lv08 .box .content a img {
	border: 1px solid #e5e5e5;	
}
.index_top-lv08 .box .content {
	height: auto;
	width: auto;
}

.index_top-lv08 .box .content:after {
	content:' ';
	height:0px;
	clear:both;
	display:block;
}