
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{display:block;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
textarea{overflow:auto;vertical-align:top;resize:vertical;}
button,input,select,textarea{margin:0;padding:0;border:none;outline:none;border-radius:0;box-sizing:border-box;}
input[type="search"],textarea,input[type="submit"]{-webkit-appearance:none;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
img{vertical-align:middle;}
.clearfix:before,.clearfix:after{display:table;content:" ";}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
.row{position:relative;}
.onecol,.twocol,.threecol,.fourcol,.fivecol,.sixcol,.sevencol,.eightcol,.ninecol,.tencol,.elevencol{float:left;margin-right:3.8%;min-height:1px;}
.row .onecol{width:4.85%;}
.row .twocol{width:13.45%;}
.row .threecol{width:22.05%;}
.row .fourcol{width:30.75%;}
.row .fivecol{width:39.45%;}
.row .sixcol{width:48%;}
.row .sevencol{width:56.75%;}
.row .eightcol{width:65.4%;}
.row .ninecol{width:74.05%;}
.row .tencol{width:82.7%;}
.row .elevencol{width:91.35%;}
.row .twelvecol{float:left;width:100%;}
.last{margin-right:0px;}
i,.logo,.icon{background-image:url(../images/icons.png?1);text-indent:-9999px;}
.article-body a i{background-image:none;}
@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi){i,.logo,.icon{background-image:url(../images/icons_2x.png?1);text-indent:-9999px;background-size:391px 343px;}}.icons{background-image:url(../images/icons.png?1);}
.archive{background-position:-74px -271px;display:inline-block;width:18px;height:14px;}
.close{background-position:-293px -112px;display:inline-block;width:13px;height:14px;}
.comment{background-position:-326px -252px;display:inline-block;width:15px;height:15px;}
.demo-wall{background-position:0px -308px;display:inline-block;width:15px;height:15px;}
.market{background-image: url(../images/market.png);display:inline-block;width:20px;height:15px;margin: 0 5px -1px 0;}
.marketlink p{
	color: #3f484f;
}
.marketlink:hover p{
	color: #f36119;
}
.dropdown{background-position:-362px -65px;display:inline-block;width:9px;height:5px;}
.footer-email{background-position:-188px -233px;display:inline-block;width:16px;height:12px;}
.footer-rss{background-position:0px -138px;display:inline-block;width:32px;height:32px;}
.footer-tencent{background-position:-52px -138px;display:inline-block;width:32px;height:32px;}
.footer-twitter{background-position:-104px -138px;display:inline-block;width:32px;height:32px;}
.footer-weibo{background-position:-156px -138px;display:inline-block;width:32px;height:32px;}
.grid{background-position:0px -190px;display:inline-block;width:29px;height:23px;}
.grid-active{background-position:-208px -138px;display:inline-block;width:29px;height:23px;}
.headline{background-position:-112px -271px;display:inline-block;width:16px;height:14px;}
.info{background-position:0px -233px;display:inline-block;width:18px;height:18px;}
.like{background-position:-326px 0px;display:inline-block;width:16px;height:16px;}
.link{background-position:-35px -308px;display:inline-block;width:15px;height:15px;}
.link-arrow{background-position:-138px -308px;display:inline-block;width:12px;height:11px;}
.list{background-position:-98px -190px;display:inline-block;width:29px;height:23px;}
.list-active{background-position:-49px -190px;display:inline-block;width:29px;height:23px;}
.login{background-position:-293px -77px;display:inline-block;width:13px;height:15px;}
.logo{background-position:0px -69px;display:inline-block;width:273px;height:49px;}
.logo-hover{background-position:0px 0px;display:inline-block;width:273px;height:49px;}
.logout{background-position:-293px -42px;display:inline-block;width:13px;height:15px;}
.more-arrow{background-position:-362px 0px;display:inline-block;width:9px;height:13px;}
.nav-left{background-position:-293px 0px;display:inline-block;width:13px;height:22px;}
.nav-right{background-position:-257px -138px;display:inline-block;width:14px;height:22px;}
.nav-top{background-position:-38px -233px;display:inline-block;width:22px;height:13px;}
.news{background-position:-326px -180px;display:inline-block;width:16px;height:16px;}
.recommend{background-position:-326px -36px;display:inline-block;width:16px;height:16px;}
.register{background-position:-148px -271px;display:inline-block;width:14px;height:14px;}
.reply{background-position:-170px -308px;display:inline-block;width:13px;height:10px;}
.comment_share{background-position:-190px -308px;display:inline-block;width:13px;height:10px;}
.reply-to{background-position:-362px -33px;display:inline-block;width:9px;height:12px;}
.search{background-position:-326px -108px;display:inline-block;width:16px;height:16px;}
.search-blue{background-position:-326px -72px;display:inline-block;width:16px;height:16px;}
.share{background-position:-36px -271px;display:inline-block;width:18px;height:15px;}
.share-evernote{background-position:0px -271px;display:inline-block;width:16px;height:17px;}
.share-facebook{background-position:-326px -144px;display:inline-block;width:16px;height:16px;}
.share-linkedin{background-position:-70px -308px;display:inline-block;width:15px;height:15px;}
.share-tencent{background-position:-293px -146px;display:inline-block;width:12px;height:14px;}
.share-twitter{background-position:-80px -233px;display:inline-block;width:16px;height:13px;}
.share-weibo{background-position:-116px -233px;display:inline-block;width:16px;height:13px;}
.share-google{background-image:url(../images/share_add.png);text-indent:-9999px;display:inline-block;width: 16px;height: 16px;background-size: 72px 38px;background-position: 35px -12px;}
.share-xueqiu{background-image:url(../images/share_add.png);text-indent:-9999px;display:inline-block;width: 16px;height: 17px;background-size: 72px 38px;background-position: -10px -10px;}
.signpost{background-position:-228px -190px;display:inline-block;width:21px;height:18px;}
.slash{background-position:-105px -308px;display:inline-block;width:13px;height:11px;}
.sun{background-position:-147px -190px;display:inline-block;width:21px;height:20px;}
.tag{background-position:-188px -190px;display:inline-block;width:20px;height:19px;}
.timeline-arrow-left{background-position:-293px -180px;display:inline-block;width:7px;height:21px;}
.timeline-arrow-right{background-position:-293px -221px;display:inline-block;width:7px;height:21px;}
.timeline-arrow-top{background-position:-224px -271px;display:inline-block;width:21px;height:7px;}
.timeline-arrow-up{background-position:-224px -233px;display:inline-block;width:22px;height:7px;}
.timeline-arrow-up-active{background-position:-182px -271px;display:inline-block;width:22px;height:7px;}
.tip{background-position:-152px -233px;display:inline-block;width:16px;height:12px;}
.user{background-position:-326px -216px;display:inline-block;width:15px;height:16px;}
.grid.active{background-position:-208px -138px;display:inline-block;width:29px;height:23px;}
.list.active{background-position:-49px -190px;display:inline-block;width:29px;height:23px;}
.dropdown{height:8px;}
.search{position:absolute;top:16px;left:15px;}
.sun,.tag{margin:0 5px -4px 10px;}
.signpost{margin:0 5px -2px 5px;}
.info{margin:0 5px -1px 5px;}
.archive,.search-blue{margin:0 5px -2px 10px;}
.share{margin:0 2px -1px 0;}
.meta{margin:0 2px -2px 0;}
.comment{margin:0 2px -3px 0;}
.headline,.recommend,.demo-wall,.news{margin:0 5px -1px 0;}
.more-arrow{margin:13px 10px -1px 0;}
.link-arrow{margin:0 0 0 3px;}
.tip{margin:0 2px 0 0;}
.link,.like{margin:0 2px -2px 0;}
.user{margin:0 3px -1px 0;}
html,button,input,select,textarea{color:#3f484f;font:14px/24px Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;-webkit-font-smoothing:antialiased;}
body{background:#f3f6f9;word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;text-rendering:optimizeLegibility;overflow-wrap:break-word;-ms-hyphens:auto;}
h1,h2,h3,h4,strong,b{font-weight:bold;}
a{-webkit-transition-duration:0.1s;-moz-transition-duration:0.1s;-o-transition-duration:0.1s;transition-duration:0.1s;color:#f36119;text-decoration:none;}
a:hover{color:#3f484f;}
.hidden{display:none;visibility:hidden;}
.global-nav{position:fixed;right:0;left:0;top:0;z-index:3;padding:0 280px 0 4%;height:50px;background-color:#FFF;line-height:50px;}
.global-nav a{font-weight:bold;}
.nav-categories,.search-wrapper,.global-nav .social-links,.events,.nav-links{float:left;}
.nav-links{background:#ebeced;display:none;width:100%;position:relative; border-bottom: #e2e2e2 1px solid;}
.nav-links .nav-link{color:#3f484f;display:block;width:16.666666%;float:left;text-align:center;box-shadow:1px 0 0 0 #e2e2e2; height: 50px;}
.nav-links .search2{background-position: -326px -72px;display: inline-block;width: 16px;height: 16px; position: absolute; top: 16px; left: 46%;}

.nav-links .article-share-dropdown{left:auto;right:10px;top:50px;}
.search-wrapper,.global-nav .social-links,.events{border-left:1px solid #ebeced;}
.events .nav-dropdown{padding:0;}
.event-story{position:relative;display:block;overflow:hidden;margin:10px;height:80px;}.event-story .article-image{margin:0;width:100%;}
.event-story h1{-webkit-transition:all 0.1s ease;-moz-transition:all 0.1s ease;-o-transition:all 0.1s ease;transition:all 0.1s ease;position:absolute;right:0;bottom:0;left:0;padding:0 15px;background:#3f484f;background:rgba(63, 72, 79, 0.9);color:#fff;line-height:40px;}
.event-story:hover h1{background:#f36119;}
.nav-categories{position:relative;overflow:hidden;padding:0 10px 0 0;text-overflow:ellipsis;white-space:nowrap;}.nav-categories strong,.nav-categories a{margin:0 15px 0 0;}
.nav-categories a{color:#3f484f; display: inline-block; height: 50px; line-height: 50px;}
.nav-categories strong,.nav-categories a:hover{color:#f36119;border-bottom: 4px #f36119 solid;}
.social-links{position:relative;}.social-links strong{display:block;padding:0 1px 0 20px;-webkit-transition-duration: 0.1s;
-moz-transition-duration: 0.1s;
-o-transition-duration: 0.1s;
transition-duration: 0.1s;
color: #f36119;
text-decoration: none;}
.social-links .icon{margin:0 15px 0 0;line-height:32px;opacity:.8;}.social-links .icon:hover{opacity:1;}
.social-links .subscribe-wrapper{position:relative;margin:10px 0 0;}
.social-links .subscribe-email{float:left;padding:10px;width:200px;outline:none;border:none;background:#fff;line-height:20px;}
.social-links .subscribe-submit{display:block;float:left;padding:10px;width:53px;height:20px;background:#f36119;color:#fff;line-height:20px;}.social-links .subscribe-submit:hover i{opacity:1;}
.events{position:relative;}.events>strong{display:block;padding:0 20px;}
.nav-dropdown{position:absolute;top:50px;left:0;z-index:10;display:none;padding:10px 20px 20px;width:300px;background:#272829;}
.global-nav .social-links:hover,.global-nav .events:hover,.global-nav .login-wrapper:hover{background:#272829;}.global-nav .social-links:hover>strong,.global-nav .events:hover>strong,.global-nav .login-wrapper:hover>strong{color:#9fa3a7;}.global-nav .social-links:hover>strong a,.global-nav .events:hover>strong a,.global-nav .login-wrapper:hover>strong a{color:#fff;}
.global-nav .social-links:hover .nav-dropdown,.global-nav .events:hover .nav-dropdown,.global-nav .login-wrapper:hover .nav-dropdown{display:block;} 
.global-nav .social-links:hover strong,.global-nav .events:hover strong,.global-nav .login-wrapper:hover strong{padding: 0 20px;} 
.global-nav .social-links:hover #sanjiao,.global-nav .events:hover #sanjiao,.global-nav .login-wrapper:hover #sanjiao{display:none;} 
.weibo-container{position:relative;top:8px;display:inline-block;overflow:hidden;line-height:1;}
.usercard_layer{display:none !important;}
.layout-switcher{position:absolute;right:0;padding:0 10px;background:#e2e5e9;}.layout-switcher strong{margin:0 10px 0 0;}
.layout-switcher .icon{-webkit-transition:none;-moz-transition:none;-o-transition:none;transition:none;line-height:23px;}
.layout-switcher .icon+.icon{margin:0 0 0 5px;}
.search-wrapper{position:relative;padding:0 0 0 10px;}
#search{padding:0 0 0 30px;width:150px;height:50px;outline:none;border:none;background:#fff;line-height:20px;}
.login-wrapper{float:right;margin-right:20px;position:relative;}.login-wrapper>strong{display:block;padding:0 20px;min-width:80px;}.login-wrapper>strong a{color:#3f484f;}
.login-wrapper .user{margin:0 3px -2px 0;}
.login-wrapper .nav-dropdown{left:auto;right:0;width:100%;min-width:120px;padding:0 0 10px;}.login-wrapper .nav-dropdown a{display:block;position:relative;color:#fff;line-height:40px;padding:0 0px 0 40px;}.login-wrapper .nav-dropdown a i{position:absolute;left:15px;top:12px;}
.login-wrapper .nav-dropdown a:hover{background:#3f484f;}
main,footer{position:relative;padding:50px 320px 25px 4%;}
/*main,footer{position:relative;padding:50px 8%;}
.global-nav{padding:0 8%;}
.pw-news-wrapper{display:none;}
*/

.logo-wrapper,.promoted-header{margin:50px 0;}
.logo-wrapper a{float:left;}
.logo-wrapper h2{float:left;clear:both;margin:10px 0 0;color:#3f484f;white-space:nowrap;font-size:18px;line-height:22px;}
.logo-wrapper strong{-webkit-transition:color 0.1s ease;-moz-transition:color 0.1s ease;-o-transition:color 0.1s ease;transition:color 0.1s ease;color:#f36119;}
.logo{float:left;}
.logo-wrapper a:hover{opacity:.8;}.logo-wrapper a:hover strong{color:#3f484f;}
.logo-wrapper a:hover .logo{background-position:0 0;}
.logo-title{float:left;margin:0 0 0 10px;font-weight:600;font-size:48px;line-height:48px;}
.welcome-bar{position:relative;margin:0 0 40px;height:40px;background:#e2e5e9;text-overflow:ellipsis;white-space:nowrap;font-weight:bold;font-size:16px;line-height:40px;}.welcome-bar .sep{padding:0 4px;color:#9fa3a7;}
.welcome-bar sup{margin:0 0 0 5px;color:#f36119;}
.welcome-bar .slash{margin:0 5px 0 10px;}
.category-wrapper{margin:0 0 40px;}.category-wrapper h2{font-size:20px;}
.article-image{-webkit-transition:margin 0.1s ease;-moz-transition:margin 0.1s ease;-o-transition:margin 0.1s ease;transition:margin 0.1s ease;display:block;margin:0 -25% 0;width:150%;height:auto;}
article a:hover .article-image{margin:-2% -25% 0;}
article{margin:0 0 40px;height:300px;background:#fff;}article>a{position:relative;display:block;overflow:hidden;width:100%;height:100%;}
article>a:hover{box-shadow:0 1px 10px rgba(63, 72, 79, 0.2);}
article>a:active{box-shadow:0 1px 1px rgba(63, 72, 79, 0.2);}
article>a::after{-webkit-transition:opacity 0.1s ease;-moz-transition:opacity 0.1s ease;-o-transition:opacity 0.1s ease;transition:opacity 0.1s ease;position:absolute;top:0;right:0;bottom:101px;left:0;z-index:1;display:block;content:" ";background-color:rgba(63, 72, 79, 0.2);background-image:-moz-linear-gradient(top, rgba(63, 72, 79, 0.05), rgba(63, 72, 79, 0.2));background-image:-webkit-gradient(linear, 0 0, 0 100%, from(rgba(63, 72, 79, 0.05)), to(rgba(63, 72, 79, 0.2)));background-image:-webkit-linear-gradient(top, rgba(63, 72, 79, 0.05), rgba(63, 72, 79, 0.2));background-image:-o-linear-gradient(top, rgba(63, 72, 79, 0.05), rgba(63, 72, 79, 0.2));background-image:linear-gradient(to bottom, rgba(63, 72, 79, 0.05), rgba(63, 72, 79, 0.2));background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d3f484f', endColorstr='#333f484f', GradientType=0);}
article>a:hover::after{opacity:0;}
article .article-title{-webkit-transition:background-color 0.1s ease;-moz-transition:background-color 0.1s ease;-o-transition:background-color 0.1s ease;transition:background-color 0.1s ease;position:absolute;bottom:120px;z-index:2;padding:4px 15px;background:#3f484f;background:rgba(63, 72, 79, 0.7);color:#fff;font-weight:600;font-size:20px;line-height:28px;}
article a:hover .article-title{background:#f36119;color:#fff;}
article .article-meta{position:absolute;right:0;bottom:0;left:0;margin:0;padding:0 10px;height:40px;border-top:1px solid #ebeced;border-bottom:none;background:#FFF;color:#9fa3a7;list-style:none;white-space:nowrap;line-height:40px;}article .article-meta li{float:left;}
article .article-meta li.article-meta-right{float:right;}
article .article-comment-count{-webkit-transition:opacity 0.1s ease;-moz-transition:opacity 0.1s ease;-o-transition:opacity 0.1s ease;transition:opacity 0.1s ease;font-weight:bold;opacity:.5;}
article a:hover .article-comment-count{opacity:1;}
article p{position:absolute;bottom:41px;right:0;left:0;overflow:hidden;padding:5px 25px;height:50px;background:#FFF;color:#3f484f;font-size:15px;line-height:26px;}
.top-story{height:340px;}
.top-story h1{font-size:24px;line-height:36px;}
.pagination{list-style:none;}.pagination li{float:left;margin:0 15px 0 0;}
.pagination a{display:block;padding:8px 0px;min-width:40px;border-radius:2px;background:#3f484f;color:#fff;text-align:center;font-weight:bold;}.pagination a:hover,.pagination a.current{background:#f36119;}
.page{display:none;}.page li{width:45%;margin:0 10% 0 0;}
.page li:last-child{margin:0;}
.page a{padding:8px 20px;}
#top{display:block;float:right;min-width:40px;height:40px;border-radius:2px;background:#3f484f;color:#FFF;text-align:center;font-weight:bold;}#top .nav-top{margin:12px 0 0 0;}
#top:hover{background:#f36119;}
.single-post #top{position:fixed;bottom:4%;right:4%;z-index:1;opacity:.3;}.single-post #top:hover{opacity:1;}
.tags-list{position:relative;padding:0 0 40px 10%;font-size:16px;line-height:40px;}.tags-list .tags-list-head{position:absolute;left:0;width:auto;font-weight:bold;font-size:20px;}
.tags-list li{float:left;margin:0 2% 2% 0;width:23%;}.tags-list li a{display:block;padding:4px 10px 4px 20px;background:#FFF;}.tags-list li a span{float:right;color:#9fa3a7;}
.tags-list li a:hover{background:#f36119;color:#fff;}.tags-list li a:hover span{color:#fff;}
.layout-list article.ninecol{height:220px;}.layout-list article.ninecol>a{height:220px;}
.layout-list article.ninecol>a::after{display:none;}
.layout-list article.ninecol .article-title,.layout-list article.ninecol p{position:static;margin:0 0 0 300px;}
.layout-list article.ninecol .article-title{padding:5px 25px;background:none;color:#3f484f;}
.layout-list article.ninecol:hover .article-title{background:#f36119;color:#fff;}
.layout-list article.ninecol p{height:auto;}
.layout-list article.ninecol .article-image{float:left;margin:0;width:300px;}
.layout-list article.ninecol a:hover .article-image{margin:0;}
.layout-list .timeline{margin:0 0 40px;}.layout-list .timeline .line{left:20px;bottom:40px;}
.layout-list .timeline .right{float:left;margin:0 0 0 20px;width:auto;}
.layout-list .timeline .article-meta .article-publisher{display:inline;}
.layout-grid article .excerpt,.layout-list article .subhead{display:none;}
.layout-grid article .subhead,.layout-list article .excerpt{display:block;}
.layout-news{margin:0 auto;padding:50px 4%;max-width:1200px;}
.timeline .line{position:absolute;top:-40px;bottom:-50px;left:50%;z-index:-1;margin-left:-2px;width:5px;background:#e1e4e8;}
.timeline .left{float:left;width:50%;}
.timeline .right{float:right;width:50%;}
.timeline article{height:auto;}.timeline article>a{overflow:visible;height:auto;box-shadow:none;}
.timeline .left article{margin:45px 20px 0 0;}
.timeline .right article{margin:45px 0 0 20px;}
.timeline .left article:first-child,.timeline article.latest{margin-top:0;}
.timeline .article-title{position:relative;bottom:0;padding:8px 15px;background:#3f484f;line-height:32px;}
.timeline .timeline-img{overflow:hidden;height:100px;}
.timeline .timeline-img img{width:100%;}
.timeline article p{position:static;padding:15px;height:auto;background:#FFF;color:#3f484f;}
.timeline article>a{height:auto;}
.timeline article>a::after{display:none;}
.timeline .article-meta{position:relative;padding:0 15px;}
.timeline .load-more{clear:both;padding:40px 0;}
.timeline .load-more a{z-index:10;display:block;margin:0 auto;padding:12px 0;width:180px;border:2px solid #f3f6f9;border-radius:4px;background-color:#a4aeb6;color:#fff;text-align:center;font-weight:bold;font-size:16px;}.timeline .load-more a:hover{background-color:#3f484f;}
.timeline.single .article-meta{padding:0 20px;}
.timeline .article-meta li{float:left;}
.timeline .article-meta li.article-meta-right{position:relative;float:right;}
.timeline .article-meta a i{-webkit-transition:opacity 0.1s ease;-moz-transition:opacity 0.1s ease;-o-transition:opacity 0.1s ease;transition:opacity 0.1s ease;opacity:.5;}
.timeline .article-meta a:hover i{opacity:1;}
.timeline .article-meta a{color:#6c7c88;}
.timeline .article-meta a:hover{color:#3f484f;}
.timeline .article-share-dropdown a{color:#3f484f;font-weight:bold;}
.timeline .article-share-dropdown a:hover{color:#fff;}
.timeline .article-share-dropdown a i{opacity:1;}
.timeline .article-comment-count,.timeline .article-share,.timeline .article-source{margin:0 0 0 20px;font-weight:normal;opacity:1;}
.timeline .article-share-dropdown{top:35px;right:60px;left:auto;}
.timeline a:hover .article-title,.timeline a:hover .timeline-node,.timeline a:hover .timeline-arrow{background-color:#f36119;}
.timeline-node{position:absolute;width:9px;height:9px;border:2px solid #f3f6f9;border-radius:10px;background-color:#9fa3a7;transition:all .1s;}
.left .timeline-node{top:18px;right:-27px;}
.right .timeline-node{top:18px;left:-26px;}
.timeline-arrow{position:absolute;top:14px;background-color:#3f484f;transition:background-color 0.1s;}
.right .timeline-arrow{background-position:-293px -180px;display:inline-block;width:7px;height:21px;left:-7px;}
.left .timeline-arrow{background-position:-293px -221px;display:inline-block;width:7px;height:21px;right:-7px;}
.timeline-comment{position:relative;clear:both;overflow:hidden;padding:0 15px 15px;}.timeline-comment textarea{padding:4px 8px;width:100%;height:32px;border:1px solid #ebeced;background-color:#fff;box-shadow:none;line-height:22px;resize:none;transition:height .1s;box-sizing:border-box;}
.timeline-comment input{position:absolute;right:-9999px;float:right;width:12%;height:30px;border:none;border-radius:2px;background:#f36119;color:#fff;font-weight:bold;font-size:14px;line-height:30px;opacity:0;cursor:pointer;transition:opacity .1s;}
.focus textarea{width:85%;}.focus textarea:focus{height:60px;}
.focus input{right:15px;opacity:1;}
.timeline.single{padding-top:40px;}
.timeline.single article{margin:0 auto;max-width:550px;_width:550px;}
.timeline.single .article-body{padding:20px;overflow:hidden;}.timeline.single .article-body h2,.timeline.single .article-body iframe{margin:0 0 15px;}
.timeline.single .article-body ul{list-style-position:inside;font-size:15px;line-height:26px;}
.timeline.single .timeline-node{position:absolute;top:-30px;left:50%;margin-left:-6px;width:9px;height:9px;border-radius:10px;transition:all .1s;}
.timeline.single .timeline-arrow{background-position:-224px -271px;display:inline-block;width:21px;height:7px;position:absolute;top:-7px;left:50%;margin-left:-10px;}
.timeline.single article>p{padding:15px 20px;font-size:16px;line-height:28px;}
.timeline.single .article-comments{padding:0;border-top:1px solid #ebeced;}
.timeline.single .article-single-comment,.timeline.single .article-comment-post{padding:20px;}
.timeline.single p{padding:0;}
.news-user-dropdown{position:absolute;top:40px;right:10px;z-index:3;padding:10px 0;background:#FFF;box-shadow:0 1px 10px rgba(63, 72, 79, 0.3);font-size:14px;}.news-user-dropdown a{position:relative;display:block;padding:0 15px;color:#3f484f;line-height:33px;}.news-user-dropdown a:hover{background:#3f484f;color:#fff;}
.news-tip{margin:20px auto;max-width:550px;background-color:#fff;}
.news-tip h1{padding:0 20px;background-color:#3f484f;color:#fff;font-size:18px;line-height:45px;}
.timeline .tip{margin-right:10px;}
.news-tip-body{padding:30px 0;}
.news-tip-item{margin:0 0 20px;}
.news-tip-item .label{display:block;float:left;margin-left:25px;width:65px;line-height:40px;}
.news-tip-item input{padding:10px;width:340px;border-radius:2px;background-color:#ebecee;line-height:20px;}
.news-tip-item textarea{padding:10px;width:340px;height:160px;border-radius:2px;background-color:#ebecee;line-height:20px;resize:none;}
.news-tip-item .hint{float:right;width:90px;color:#9fa3a7;font-size:12px;line-height:40px;}
.news-tip-item .hint.multi{line-height:20px;}
.news-tip-item.img a{display:inline-block;margin-left:-365px;padding:0 20px;width:320px;border-radius:2px;background-color:#ebecee;color:#a4aeb6;line-height:40px;}
.news-tip-submit{margin-left:90px;padding:0;width:80px;border-radius:2px;background-color:#F36119;color:#FFF;font-weight:bold;font-size:16px;line-height:40px;cursor:pointer;}.news-tip-submit:active{background:#3f484f;}
.news-tip label.anon{float:right;margin-right:100px;color:#9fa3a7;line-height:45px;}
.news-tip label.anon input{display:inline-block;margin:0 5px 0 0;line-height:45px;-webkit-appearance:checkbox;}
.news-tip-info{margin:0 0 0 90px;}
.news-tip-eula{float:right;margin:10px 40px 0 0;}.news-tip-eula input[type="checkbox"]{margin:0 5px 0 0;}
.forgot-password{float:right;margin:10px 30px 0 0;}
.modal-wrapper{position:absolute;top:50%;left:50%;z-index:11;margin:-100px 0 0 -210px;width:420px;background:#FFF;}.modal-wrapper h2{border-bottom:1px solid #ebeced;font-size:18px;line-height:50px;}.modal-wrapper h2 .user{margin:0 10px -1px 20px;}
.modal-wrapper .news-tip-close{float:right;padding:0 20px;}
.modal-wrapper .news-tip-item input,.modal-wrapper .news-tip-item textarea{width:280px;}
.modal-bg{position:fixed;top:0;right:0;bottom:0;left:0;z-index:10;background:rgba(63, 72, 79, 0.5);}
.single-post .demo-stories{position:relative;z-index:2;float:left;margin-right:3.8%;}
.article{position:relative;float:right;background:#fff;}.article header{position:relative;overflow:hidden;height:195px;background:#3f484f;}.article header .feature-image{display:block;margin:-25% -10% 0;width:120%;opacity:.7;-webkit-filter:blur(5px);-moz-filter:blur(5px);-ms-filter:blur(5px);filter:blur(5px);}
.article .article-title{position:absolute;top:0;right:0;left:0;display:table;width:100%;height:195px;font-size:30px;line-height:42px;}.article .article-title span{display:table-cell;padding:0 10%;background:rgba(63, 72, 79, 0.7);color:#fff;vertical-align:middle;}
.article .article-title a{display:inline-block;color:#fff;background:none;}.article .article-title a:hover{opacity:.85;}
.article .article-meta{padding:15px 10%;border-bottom:1px solid #ebeced;color:#9fa3a7;list-style:none;font-weight:bold;}
.article .article-meta li{float:left;}
.article .article-meta li.article-meta-right{position:relative;float:right;}
.article .article-meta a{color:#3f484f;}.article .article-meta a:hover{color:#f36119;}
.article .article-comment-count,.article .article-share{-webkit-transition:opacity 0.1s ease;-moz-transition:opacity 0.1s ease;-o-transition:opacity 0.1s ease;transition:opacity 0.1s ease;}
.article .article-comment-count{margin:0 0 0 20px;}
.article-share-dropdown{position:absolute;top:30px;left:0;z-index:3;padding:10px 0;width:120px;background:#fff;box-shadow:0 1px 10px rgba(63, 72, 79, 0.3);}.article-share-dropdown a{position:relative;display:block;padding:0 10px 0 35px;color:#3f484f;line-height:33px;}.article-share-dropdown a:hover{color:#fff;background:#3f484f;}
.article-share-dropdown a i{position:absolute;top:10px;left:10px;}
.article-meta .article-share-dropdown a:hover{color:#ffffff;}
.article-body{padding:4% 10%;border-bottom:1px solid #ebeced;font-size:1.4em;line-height:1.6;}.article-body p,.article-body ul,.article-body ol{margin:0 0 1em;}
.article-body ol{list-style:decimal outside;}
.article-body ul{list-style:disc outside;}
.article-body p img{display:block;margin:auto;max-width:100%;height:auto;}
.article-body blockquote{margin:0 0 0 -20px;padding:0 0 0 15px;border-left:5px solid #a4aeb6;}
.article-body iframe,.article-body object,.article-body embed{max-width:100%;margin:0 auto 20px;display:block;}
.article-tags{padding:2% 10%;border-bottom:1px solid #ebeced;}.article-tags .tag{margin:0 10px -5px 0;}
.article-tags .article-single-tag{display:inline-block;margin:0 10px 0 0;font-weight:bold;}.article-tags .article-single-tag::before{padding:0 3px 0 0;color:#9fa3a7;content:"#";}
.article-read-more{border-bottom:1px solid #ebeced;}.article-read-more .nav-left,.article-read-more .nav-right{-webkit-transition:opacity 0.1s ease;-moz-transition:opacity 0.1s ease;-o-transition:opacity 0.1s ease;transition:opacity 0.1s ease;position:absolute;top:42%;left:10%;opacity:.4;}
.article-read-more .nav-right{right:10%;left:auto;}
.article-read-more .article-more-next,.article-read-more .article-more-prev{position:relative;float:left;padding:4% 10%;min-height:48px;width:38%;color:#3f484f;font-weight:bold;font-size:1.2em;}.article-read-more .article-more-next:hover,.article-read-more .article-more-prev:hover{color:#f36119;}.article-read-more .article-more-next:hover i,.article-read-more .article-more-prev:hover i{opacity:1;}
.article-read-more .article-more-prev{padding-right:2%;}.article-read-more .article-more-prev::after{position:absolute;top:0;right:0;display:block;width:1px;height:100%;border-right:1px solid #ebeced;content:" ";}
.article-read-more .article-more-next{padding-left:2%;}
.article-author-info{padding:4% 10%;border-bottom:1px solid #ebeced;}.article-author-info h2{margin:0 0 5px;font-size:1.2em;}
.article-author-info .article-author-email{margin:0 0 0 10px;font-size:14px;}
.article-author-info .article-author-avatar{float:right;margin:0 0 20px 20px;}
.article-author-info .article-author-avatar img{width:50px;height:50px;border-radius:50px;}
.article-comments{padding:4% 10%;}.article-comments h2{margin:0 0 5px;font-size:1.2em;}
.article-single-comment{border-bottom:1px solid #ebeced;}
.article-single-comment,.article-single-comment-reply{padding:20px 0;}.article-single-comment a,.article-single-comment-reply a{color:#3f484f;}.article-single-comment a:hover,.article-single-comment-reply a:hover{color:#f36119;}
.article-single-comment img,.article-single-comment-reply img{float:left;margin:0 10px 0 0;width:50px;height:50px;}
.article-single-comment p,.article-single-comment-reply p{margin:0 0 0 60px;}
.article-single-comment .article-comment-author,.article-single-comment-reply .article-comment-author{font-weight:bold;}
.article-single-comment .article-comment-date,.article-single-comment-reply .article-comment-date,.article-single-comment .article-comment-reply,.article-single-comment-reply .article-share,.article-single-comment .article-share,.article-single-comment-reply .article-share{float:right;}
.article-single-comment .article-comment-date,.article-single-comment-reply .article-comment-date{color:#9fa3a7;}
.article-single-comment .article-comment-reply{margin-left: 20px;}
.article-single-comment .article-comment-reply,.article-single-comment .article-share,.article-single-comment-reply .article-comment-reply,.article-single-comment-reply .article-share{display:none;font-weight:bold;}
.article-single-comment:hover>.article-comment-date,.article-single-comment-reply:hover>.article-comment-date{display:none;}
.article-single-comment:hover>.article-comment-reply,.article-single-comment-reply:hover>.article-comment-reply{display:block;}
.article-single-comment-reply{position:relative;clear:both;margin:0 0 0 20px;padding:20px 0 0;}.article-single-comment-reply .reply-to{position:absolute;top:20px;left:-20px;}
.article-single-comment:hover>.article-share,.article-single-comment-reply:hover>.article-share{display:block;}
.article-comment-post{padding:20px 0;}.article-comment-post span{float:right;}
.article-comment-post p{margin:0 0 20px;}
.article-comment-post textarea,.article-comment-post input[type="text"]{margin:0;padding:10px;border:none;background:#e2e5e9;margin:0 0 20px;}.article-comment-post textarea:focus,.article-comment-post input[type="text"]:focus{outline:none;}
.article-comment-post input[type="text"]{width:48%;margin:0 3% 20px 0;}
.article-comment-post input[type="text"].last{margin:0 0 20px;}
.article-comment-post textarea{width:100%;height:100px;}
.article-comment-post input[type="submit"]{padding:6px 20px;border:none;background:#f36119;color:#fff;font-weight:bold;cursor:pointer;}.article-comment-post input[type="submit"]:active{background:#3f484f;}
.hot-stories,.demo-stories,.promoted-stories{float:right;margin:0 0 40px;background:#fff;}
.top-story h2,.hot-stories h2,.demo-stories h2,.pw-news-wrapper h2,.sidebar-wrapper h2{padding:0 0 0 15px;background:#f36119;font-size:16px;line-height:40px;color:#fff;}
.sticky-wrapper{clear:left;}
.sidebar-wrapper img{width:100%;height:auto;}
.demo-stories .more-arrow,.pw-news-wrapper .more-arrow{-webkit-transition:opacity 0.1s;-moz-transition:opacity 0.1s;-o-transition:opacity 0.1s;transition:opacity 0.1s;float:right;opacity:.5;}
.pw-news-wrapper .more-arrow{margin-top:18px;}
.demo-stories a:hover .more-arrow,.pw-news-wrapper a:hover .more-arrow{opacity:1;}
.layout-grid .demo-stories,.layout-list .demo-stories{position:absolute;top:380px;right:0;}
.pw-news-wrapper h2{position:fixed;top:0;right:0;z-index:2;width:265px;line-height:50px;}
.hot-story{display:block;overflow:hidden;height:59px;border-top:1px solid #ebeced;}.hot-story:nth-of-type(1){border-color:#f36119;}
.hot-story h1{-webkit-transition:color 0.1s ease;-moz-transition:color 0.1s ease;-o-transition:color 0.1s ease;transition:color 0.1s ease;display:table;padding:0 15px;height:inherit;color:#3f484f;font-size:16px;line-height:24px;}
.hot-story h1 span{display:table-cell;vertical-align:middle;}
.hot-story:hover h1{color:#f36119;}
.demo-story{position:relative;display:block;overflow:hidden;margin:10px;height:200px;}.demo-story .demo-story-info{position:absolute;right:0;bottom:0;left:0;z-index:2;padding:10px;background:#fff;background:rgba(255, 255, 255, 0.9);}
.demo-story .article-title,.demo-story .info{margin:0;}
.demo-story .article-title{-webkit-transition:color 0.1s ease;-moz-transition:color 0.1s ease;-o-transition:color 0.1s ease;transition:color 0.1s ease;color:#3f484f;}
.demo-story p{color:#6c7c88;}
.demo-story .info{-webkit-transition:height 0.1s ease;-moz-transition:height 0.1s ease;-o-transition:height 0.1s ease;transition:height 0.1s ease;position:relative;margin:5px 0 0 0;padding:5px 0 0 0;width:100%;height:0;border-top:1px solid #ebeced;opacity:0;}
.demo-story .faux-link{display:none;float:right;color:#3f484f;font-weight:normal;}.demo-story .faux-link:hover{color:#f36119;}
.demo-story:hover .info{height:36px;opacity:1;}
.demo-story:hover .faux-link{display:block;}
.demo-story::after{-webkit-transition:opacity 0.1s ease;-moz-transition:opacity 0.1s ease;-o-transition:opacity 0.1s ease;transition:opacity 0.1s ease;position:absolute;top:0;right:0;bottom:0;left:0;z-index:1;display:block;content:" ";background-color:rgba(63, 72, 79, 0.2);background-image:-moz-linear-gradient(top, rgba(63, 72, 79, 0.05), rgba(63, 72, 79, 0.2));background-image:-webkit-gradient(linear, 0 0, 0 100%, from(rgba(63, 72, 79, 0.05)), to(rgba(63, 72, 79, 0.2)));background-image:-webkit-linear-gradient(top, rgba(63, 72, 79, 0.05), rgba(63, 72, 79, 0.2));background-image:-o-linear-gradient(top, rgba(63, 72, 79, 0.05), rgba(63, 72, 79, 0.2));background-image:linear-gradient(to bottom, rgba(63, 72, 79, 0.05), rgba(63, 72, 79, 0.2));background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d3f484f', endColorstr='#333f484f', GradientType=0);}
.demo-story:hover::after{opacity:0;}
.demo-story:hover h1{color:#f36119;}
.demo-story:hover .demo-story-info{background:#ffffff;}
.demo-story .article-image{margin:0;width:100%;}
.layout-demo .demo-stories{float:none;background:none;}
.layout-demo .demo-story{float:left;margin:0 3.8% 40px 0;}
.layout-demo .info,.layout-demo a:hover .info{height:auto;opacity:1;}
.layout-demo .last{margin:0 0 40px;}
.pw-news-wrapper{position:fixed;top:0;right:0;bottom:0;z-index:3;padding:50px 0 0 0;width:280px;border-left:1px solid #ebeced;background:#fff;}
.pw-news{display:block;overflow:hidden;padding:10px 15px;border-bottom:1px solid #ebeced;background:#fff;line-height:24px;}.pw-news strong{-webkit-transition-duration:0.1s;-moz-transition-duration:0.1s;-o-transition-duration:0.1s;transition-duration:0.1s;color:#3f484f;font-weight:normal;}
.pw-news time{display:inline-block;color:#9fa3a7;font-size:13px;}
.pw-news img{float:right;margin:0 0 10px 10px;max-height:60px;width:60px;}
.pw-news:hover strong{color:#f36119;}
.pw-news-more{position:fixed;bottom:0;display:block;width:280px;height:80px;text-align:center;line-height:90px;background-color:rgba(255, 255, 255, 0.6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0)), color-stop(10%, rgba(255, 255, 255, 0.5)), to(#ffffff));background-image:-webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 10%, #ffffff);background-image:-moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 10%, #ffffff);background-image:-o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 10%, #ffffff);background-image:linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 10%, #ffffff);background-repeat:no-repeat;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffffff', GradientType=0);}
.pw-news-more:hover{background-color:#ffffff;background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(0.2, #ffffff), to(#ffffff));background-image:-webkit-linear-gradient(#ffffff, #ffffff 0.2, #ffffff);background-image:-moz-linear-gradient(top, #ffffff, #ffffff 0.2, #ffffff);background-image:-o-linear-gradient(#ffffff, #ffffff 0.2, #ffffff);background-image:linear-gradient(#ffffff, #ffffff 0.2, #ffffff);background-repeat:no-repeat;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);}
.promoted-header img,.promoted-story img,.promoted-banner img{max-width:100%;float:right;}
.promoted-header{float:right;overflow:hidden;}
.promoted-story{display:block;padding:0 0 40px;width:100%;background:#F3F6F9;}
.promoted-banner{position:relative;margin:0 0 40px;}
.promoted-mark{position:absolute;display:block;padding:4px;background:#F36119;color:#FFF;font-weight:bold;font-size:12px;line-height:1; z-index: 2;}
.promoted-link{position:relative;padding:0 25px 0 0;}.promoted-link .promoted-mark{top:22px;right:0;}
.pw-news-wrapper .promoted-link{padding:10px 35px 10px 10px;}
footer{position:relative;z-index:3;padding-bottom:50px;background:#272829;color:#9fa3a7;font-weight:bold;}footer a:hover{color:#9fa3a7;}
footer h2{font-weight:normal;font-size:20px;opacity:.5;}
footer h2,footer p{margin:0 0 20px;}
footer .links{margin:0 0 20px;}footer .links li{float:left;width:50%;}
footer .links img{max-width:100%;height:auto;-webkit-filter:grayscale(1);-moz-filter:grayscale(1);filter:grayscale(1);opacity:.5;}
footer .links a{display:block;color:#9fa3a7;}footer .links a:hover{color:#f36119;}footer .links a:hover img{opacity:1;-webkit-filter:grayscale(0);-moz-filter:grayscale(0);filter:grayscale(0);}
footer .with-images li{width:45%;margin:0 5% 10px 0;}
.footer-tag{position:relative;display:block;overflow:hidden;color:#9fa3a7;}.footer-tag strong{float:left;}
.footer-tag span{float:right;color:#f36119;}
.footer-tag strong,.footer-tag span{-webkit-transition:color 0.1s ease;-moz-transition:color 0.1s ease;-o-transition:color 0.1s ease;transition:color 0.1s ease;position:relative;z-index:2;margin:0 -10px;padding:0 10px;background:#272829;}
.footer-tag::after{-webkit-transition:all 0.1s ease;-moz-transition:all 0.1s ease;-o-transition:all 0.1s ease;transition:all 0.1s ease;position:absolute;top:50%;right:0;left:0;z-index:0;display:block;height:0px;border-top:1px dotted rgba(255, 255, 255, 0.3);content:" ";}
.footer-tag:hover strong{color:#f36119;}
.footer-tag:hover::after{border-top:1px dotted #f36119;}
.copyright{margin:20px 0 0;font-size:12px;opacity:.5;}.copyright a{color:#9fa3a7;}
@media (max-width:1280px){.layout-grid .threecol .article-pubdate{display:none;}  article .article-title{font-size:18px;line-height:24px;} .top-story .article-title,.article .article-title{font-size:24px;line-height:32px;} .article-body,.article-author-info h2,.article-read-more .article-more-next,.article-read-more .article-more-prev{font-size:18px;} .article header,.article .article-title{height:150px;} .pw-news-wrapper,.pw-news-more{width:240px;} .pw-news-wrapper h2{width:225px;} .promoted-link .promoted-mark{top:12px;} .nav-categories strong,.nav-categories a{margin:0 5px 0 0;} .global-nav{padding-right:240px;} #search{width:80px;} .layout-list article.ninecol .article-title,.layout-list article.ninecol p{margin:0 0 0 200px;background:none;color:#3F484F;} .layout-list article.ninecol p{height:100px;} .layout-list article.ninecol .article-image{float:left;margin:0;width:200px;} .layout-grid .threecol .article-publish{display:none;} .nav-categories{width:300px;}}@media (max-width:1024px){article p{height:75px;} article .article-title{bottom:140px;padding:4px 10px;} article>a::after{bottom:126px;} .article-body,.article-author-info h2,.article-read-more .article-more-next,.article-read-more .article-more-prev{font-size:16px;} .article .article-meta li{width:100%;margin:0 0 5px;} article .article-title{font-size:16px;line-height:22px;} .article .article-meta li{float:left;clear:both;} .pw-news-wrapper{margin:40px 0;} .pw-news-wrapper,.pw-news-wrapper h2{position:static;padding-top:0;width:auto;border-left:none;} .pw-news img{display:none;} main,footer{padding:50px 4%;width:92%;} footer{padding-bottom:50px;} .global-nav{padding:0 4% 0;width:92%;} .pw-news-more{display:none;} .timeline .article-meta{line-height:30px;height:auto;padding:10px 15px;} .timeline .article-meta li.article-meta-right{float:left;clear:both;} .tags-list li{width:31%;}}@media (max-width:860px){.logo-title{font-size:20px;} #search{width:150px;} .tags-list li{width:48%;} .global-nav{padding:0;width:100%;} .nav-categories,.search-wrapper,.global-nav .social-links,.events,.offline,.login-wrapper{display:none;} .nav-links{display:block;}}@media (max-width:700px){.layout-grid .threecol .article-pubdate{display:inline;} .promoted-header,.promoted-story,.promoted-banner,.promoted-link .promoted-mark{display:none;} .nav-categories{display:none;} main,footer{padding:50px 4%;width:auto;} .layout-grid .demo-stories,.layout-list .demo-stories{position:static;} .logo-title{font-size:24px;} .demo-story{height:200px;} .demo-story .info{height:43px;opacity:1;} .row,body,.container{margin-right:0px;margin-left:0px;padding-right:0px;padding-left:0px;min-width:0;width:100%;} .row .onecol,.row .twocol,.row .threecol,.row .fourcol,.row .fivecol,.row .sixcol,.row .sevencol,.row .eightcol,.row .ninecol,.row .tencol,.row .elevencol,.row .twelvecol{float:none;margin-right:0px;margin-left:0px;padding-right:0;padding-left:0;width:auto;} .tags-list .tags-list-head{position:static;display:block;clear:both;padding:0;width:100%;} .tags-list{padding:0;} .timeline .left,.timeline .right{float:none;width:100%;} .timeline-node,.left .timeline-arrow,.right .timeline-arrow{display:none;} .timeline .right article,.timeline .left article{margin:40px 0 0;} .single-post #top{left:auto;right:4%;} .single-post .demo-stories{margin:40px 0 0;}.logo-wrapper{margin:20px 0;} }@media (max-width:480px){.logo-wrapper a{margin:0 0 0 15px;} .top-story .article-title,.article .article-title{font-size:20px;line-height:24px;} .hot-story{height:auto;padding:10px 0;} main,footer{padding:50px 2% 20px;} .layout-news{padding:50px 2%;} article p{height:50px;} article .article-title{bottom:120px;padding:4px 15px;} article>a::after{bottom:101px;} .article .article-share{margin:0 0 10px;} .article-read-more .article-more-next,.article-read-more .article-more-prev{padding:20px 10%;width:80%;} .article-read-more .article-more-prev{border-bottom:1px solid #ebeced;} .article-read-more .nav-left{top:40%;left:8px;} .article-read-more .nav-right{top:40%;right:8px;} .article .article-meta,.article .article-body,.article-tags,.article-author-info,.article-comments{padding-left:20px;padding-right:20px;} .article-body ul,.article-body ol{list-style-position:inside;} .article-body iframe,.article-body object,.article-body embed{max-height:300px;} .article header{height:140px;} .article .article-title{height:140px;} #search{width:80px;} .logo-title{font-size:2em;} article,.hot-stories,.article{margin:0 0 20px;} .welcome-bar{font-size:14px;margin:0 0 20px;} .layout-news .welcome-bar{height:80px;}.layout-news .welcome-bar .layout-switcher{position:static;display:block;} .social-links .nav-dropdown{left:-100px;} .timeline .article-comment-count,.timeline .article-share,.timeline .article-source{margin:0 0 0 10px;} .pagination.page{display:block;} .single-post .demo-stories,.pw-news-wrapper,.welcome-bar~br,#top,.layout-switcher,.article .article-share,.article-read-more .article-more-prev::after,.single-post .demo-stories{display:none;} .article .article-comment-count{margin:0;} .modal-wrapper{width:auto;margin:0 auto;top:0;left:0;}.modal-wrapper .news-tip-close{padding:0 20px;} .modal-wrapper .news-tip-info,.modal-wrapper .news-tip-submit{margin:0 0 0 25px;} .modal-wrapper .news-tip-item input,.modal-wrapper .news-tip-item textarea{width:250px;margin:0 0 0 25px;}}.lt-ie9 article .article-title{font-size:18px;line-height:24px;}
.lt-ie9 .top-story .article-title,.lt-ie9 .article .article-title{font-size:24px;line-height:32px;}
.lt-ie9 .article-body,.lt-ie9 .article-author-info h2,.lt-ie9 .article-read-more .article-more-next,.lt-ie9 .article-read-more .article-more-prev{font-size:16px;}
.lt-ie9 .article header{display:none;}
.lt-ie9 .article .article-title{background:#fff;position:static;height:auto;padding:30px 0 5px;}.lt-ie9 .article .article-title a{display:block;color:#3f484f;}.lt-ie9 .article .article-title a:hover{color:#f36119;}
.lt-ie9 .pw-news-wrapper{margin:40px 0;}
.lt-ie9 header,.lt-ie9 .pw-news-wrapper,.lt-ie9 .pw-news-wrapper h2{position:static;border-left:none;}
.lt-ie9 .pw-news-wrapper{position:relative;width:100%;padding-top:0;}.lt-ie9 .pw-news-wrapper h2{width:auto;}
.lt-ie9 main,.lt-ie9 footer,.lt-ie9 .global-nav{clear:both;padding:0 4%;width:92%;}
.lt-ie9 footer{padding:50px 4%;}
.lt-ie9 #subscribe{width:90%;}
.lt-ie9 .pw-news-more{background:#fff;}
.lt-ie9 .pw-news-more{display:none;}
.lt-ie9 .nav-categories{width:50%;height:50px;}
.lt-ie9 #search{width:100px;height:20px;}
.lt-ie9 .subscribe-email{width:170px;height:20px;}
.lt-ie9 .subscribe-submit{width:60px;}
.lt-ie9 .social-links .icon{margin:0 10px 0 0;}
.lt-ie9 .layout-news{max-width:980px;}
.lt-ie9 .timeline .left,.lt-ie9 .timeline .right{width:470px;}
.lt-ie9 .timeline .left article{margin:0 0 45px;}
.lt-ie9 .timeline .right article{margin:45px 0 0;}
.lt-ie9 .timeline-comment textarea{width:420px;}
.lt-ie9 .focus textarea{width:360px;height:60px;}
.lt-ie9 .focus input{right:15px;opacity:1;}
.lt-ie9 .timeline .article-comment-post textarea{width:490px;}
.lt-ie9 .demo-story .demo-story-info{padding:10px 10px 5px;}.lt-ie9 .demo-story .demo-story-info .info{border-top:none;}

.login, .logininPost {
float: right;
margin-right: 20px;
}

.login .sinalogin,.logininPost .sinalogin
{
	margin-left: 6px;
display: inline-block;
width: 16px;
height: 16px;
background: url("../images/social-buttons.png") -16px -48px no-repeat;
}

/* for sign up page */
.widecolumn  
{
    position: relative;
    padding: 100px 320px 25px 4%;
    width: 40%;margin: auto; 
}


#respond {padding:20px 0;}.article-comment-post span{float:right;}
#respond p{margin:0 0 20px;}
#respond textarea,.article-comment-post input[type="text"]{margin:0;padding:10px;border:none;background:#e2e5e9;margin:0 0 20px;}.article-comment-post textarea:focus,.article-comment-post input[type="text"]:focus{outline:none;}
#respond input[type="text"]{width:48%;margin:0 3% 20px 0;}
#respond input[type="text"].last{margin:0 0 20px;}
#respond textarea{width:100%;height:100px;}
#respond input[type="submit"]{padding:6px 20px;border:none;background:#f36119;color:#fff;font-weight:bold;cursor:pointer;}.article-comment-post input[type="submit"]:active{background:#3f484f;}


#mkid #respond #comment-content{
	background:red;
	height:100px;
	width:100%;
	background:#e2e5e9;
}
#mkid #respond #submit{
	margin: 20px 0 0 0;
	padding: 6px 20px;
	border: none;
	background: #f36119;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}
#mkid #respond span{
	float: right;
    margin-bottom: 10px;
}

#mk_submit{
	background:none;
	color:#FFF;
	font-weight:bold;
	margin-left:3px;
}

#email,#author{
	background:#e2e5e9;
}

#mkid #respond {
	padding:10px 0;
}
#mkid  #respond .comment-form-author,#mkid  #respond .comment-form-email, #mkid  #respond .comment-form-content{
	margin-top:20px;
}
.mk_logoin_form{
	margin:10px 0;
}
.mk_logoin_form img{
	width:126px;
	height:24px;
}
.comment-form-author,.comment-form-email{
	clear:both;
}
.comment-form-author #author,.comment-form-email #email,.comment-form-content #comment-content{
	padding:10px;
	color:#3f484f;
}
.page-numbers{
	list-style:none;
}
.next.page-numbers,.prev.page-numbers{
	padding:5px;
}
.page-numbers li{
	float:left;
	margin:0 15px 0 0;
}
.page-numbers a,span.page-numbers{
	display:block;
	padding:8px 0px;
	min-width:40px;
	border-radius:2px;
	background:#3f484f;
	color:#fff;
	text-align:center;
	font-weight:bold;
}
.page-numbers a:hover,.page-numbers span.current{
	background:#f36119;
}

.offline
{
    border-left: 1px solid #ebeced;
    float: left;
    position:relative;    
}
.offline a
{
    display:block;padding:0 10px;
    
}
.offline a:hover
{
    display:block;padding:0 20px; 
    border-bottom: 4px #f36119 solid; 
}
.offline a:visited
{
    display:block;padding:0 20px;   
    border-bottom: 0; 
}
.offline strong a
{
    color: #3f484f;
    display: inline-block;
    height: 50px;
    line-height: 50px;
 }
.offline strong a:hover
{
    color: #f36119;
}
.single-post table{
	border: 1px black solid;
}
.single-post td{
	border: 1px black solid;
}
/*footer*/
footer .threecol div h2 {display: inline-block;}
footer .threecol div a {float:right;}
.footer_footer{background-color: black;height: 50px;width: 100%;z-index: 3;position: relative;}
#f_share a{transition-duration: 0;display:inline-block;width: 25px;height: 25px;margin-right: 20px;background-image:url(../images/footer-social.png)}
#f_share .footer_social_1 {background-position:0 0;}
#f_share .footer_social_3 {background-position:65px 0;}
#f_share .footer_social_4 {background-position:106px 0;}
#f_share .footer_social_1:hover {background-position:0 -25px;}
#f_share .footer_social_3:hover{background-position:65px -25px;}
#f_share .footer_social_4:hover {background-position:106px -25px;}
.f_left{float: left;margin-left: 4%;margin-top: -8px;}
.f_right{float: right;margin-right: 320px;margin-top: -5px;color: #9fa3a7;}
@media (max-width:750px){.footer_footer{height: 80px;} .f_right{float: left;clear: both;margin-left: 4%;margin-top: -10px;margin-right: auto;}}
@media (max-width:371px){.footer_footer{height: 100px;}}
/*uc-tag*/
#uc_tag_box{
	z-index: 11;
	position: fixed;
	 bottom: 0px;
	left: 0;
	width:100%;
	display:none;
}
#uc_top{
	height:24px;
	width:90%;
	margin-right: auto;
	margin-left: auto;
}
#uc_top img{
	margin-top: 10px;
	float: right;
	margin-right: -20px;
}
#uc_bottom{
	height:50px;
	background-color:#3f484f;
	padding: 8px;
	width:90%;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
}
#uc_bottom span{
	display: inline-block;
	color: white;
	margin-right: 10px;
}
#uc_bottom span img{
	height: 50px;
}
#uc_bottom #uc_add{
	background-color:#f36119;
	width: 70px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: right;
	margin-right: 5px;
	margin-top: 5px;
}
#uc_tag{
	width:100%;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	display:none;
}

/*tags*/
.fl{float: left !important;}
.fr{float: right !important;}
.hot-tags-wrap{margin: 20px 0;}
.hot-tags-wrap .hot-title{border-bottom: #f36119 2px solid; position: relative;}
.hot-tags-wrap .hot-title span{background-color: #f36119; font-size: 20px; height: 30px; line-height: 30px; position: absolute; bottom: 0px; left: 0px; padding:2px 18px; color: #fff;}
.hot-tags-wrap .hot-tags-box{padding: 2% 0 0 0; background-color: #e2e2e2;}
.hot-tags-wrap .tags-list{padding: 0 0 0 10%}
/*.hot-tags-wrap .hot-tags-box{border: #ddd 2px solid; padding: 15px;}
.hot-tags-wrap .hot-tags-box a{border-radius: 14px; padding: 2px 18px; float: left; background-color: #fff; color:#f36119; margin:5px 8px;}
.hot-tags-wrap .hot-tags-box a:hover{background-color: #f36119; color: #fff;}*/

/* reset webkit search input browser style */
input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; /* remove the search and cancel icon */
}

/* search input field */
input[type=search] {
	background: #ededed url(../images/search-icon.png) no-repeat 49% center;
	padding: 9px 10px 9px 32px;
	width: 55px;
	box-sizing: border-box;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 100%;
	background-color: #fff;
	background: #ededed url(../images/search-icon.png) no-repeat 9px center;
}

/* placeholder */
input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* demo B */
.nav-links #mobile-search input{position: absolute; right: 0px;}
#mobile-search input[type=search] {
	width: 16.5%;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
	height: 50px;
}
#mobile-search input[type=search]:hover {
	position: fixed;
	top: 0px !important;
	z-index: 4px;
	background-color: #fff;
}
#mobile-search input[type=search]:focus {
	position: fixed;
	top: 0px !important;
	z-index: 4px;
	width: 100%;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;

}
#mobile-search input:-moz-placeholder {
	color: transparent;
}
#mobile-search input::-webkit-input-placeholder {
	color: transparent;
}


@media (max-width:380px){#uc_bottom #uc_add{width: 17%;}}
@media (max-width:316px){#uc_bottom #uc_add{width: 15%;}}
.article-yidian-info{padding:2% 10%;border-bottom:1px solid #ebeced;float:left;width: 80%;display:none;}
.yd_news_title{
	margin-bottom: 10px;
}
.yd_news_title .left{
	font-weight: bold;
	font-size: 1.2em;
}
.yd_news_title .right{
	float: right;
}
.yd_news_title .right a{
	color: #3f484f;
}
.yddownline{
	border-bottom: 1px dotted #ebeced;
	margin-bottom: 10px;
}
.yd_news_item{
	clear: both;
	padding: 10px 10px 0px;
	font-size: 13px;
}
.yd_news_item .left {
	float: left;
	text-align: center;
	color: #f36119;
	margin-top: 10px;
	width: 75px;
}
.yd_news_item .left img{
	width: 50px;
	height: 50px;
}
.yd_news_item .right{
	float: left;
	margin-left: 30px;
	width:70%;
} 
.yd_news_item .right .dot{
	display: block;
	float: left;
	width: 10px;
} 
.yd_news_item .right a{
	color: #3f484f;
}
.yd_news_item .right a:hover{
	color: #f36119;
}
@media (max-width:780px){.yd_news_item .right {width: 60%;}}
@media (max-width:580px){.yd_news_item .right{ margin-left: 20px;}}
@media (max-width:480px){.yd_news_item .left{width: 50px;} .yd_news_item .right {width: 70%;}.yd_news_item .left div{font-size: 10px;} .article-yidian-info{padding:2% 20px;} .article-yidian-info{width: 90%;}}

.top-story a .article-image{margin:-25% -25% 0;}
.top-story a:hover .article-image{margin:-27% -25% 0;}

.mobile-ad{
	margin-bottom:20px;
	margin-top: -20px;
	display: none;
}
@media (max-width:700px){.mobile-ad{display: block;} .sticky-wrapper{display:none}}
@media (max-width:480px){.mobile-ad{margin-top: 0px;} }

.con_share{
	height: 62px;
	line-height: 70px;
}
.con_share .share_right{
	float: right;
}
.con_share .share_right div{
	display: inline-block;
	float: left;
}
.f_share a i{
	background-image: url(../images/single_share.png?1);
	background-repeat: no-repeat;
	display: inline-block;
	width: 41px;
	height: 45px;
	background-size: auto;
	margin-left: -5px;
}
.f_share a .s_1{
	background-position: 0px 9px;
}
.f_share a .s_2{
	background-position: -41px 9px;
}
.f_share a .s_3{
	background-position: -83px 9px;
}
.f_share a .s_4{
	background-position: -125px 9px;
}
.f_share a .s_5{
	background-position: -166px 9px;
}
.f_share a .s_6{
	background-position: -208px 9px;
}
.f_share a:hover i{
	margin-bottom: -10px;
}
.f_share a:hover .s_1{
	background-position: 0px -39px;
}
.f_share a:hover .s_2{
	background-position: -41px -39px;
}
.f_share a:hover .s_3{
	background-position: -83px -39px;
}
.f_share a:hover .s_4{
	background-position: -125px -39px;
}
.f_share a:hover .s_5{
	background-position: -166px -39px;
}
.f_share a:hover .s_6{
	background-position: -208px -39px;
}
.con_share .changweibo{
	cursor: pointer;
	margin-left: 10px;
}
.con_share .changweibo a{
	background-color: #bdc3c7;
	padding: 3px 5px;
	color: #fff;
}
.con_share .changweibo a:hover{
	background-color: #f36119;
	color: #fff;
}
@media (max-width:430px){.con_share{height: 132px;} .con_share .share_right .share_to{display: none;}.con_share .changweibo{margin-left: 0px;}}