
@CHARSET "UTF-8";
html,body{font:12px/1.5 tahoma,arial,'Hiragino Sans GB',宋体b8b\4f53,sans-serif;;color:#3C3C3C;height:100%;}
html,body,h1,h2,h3,p,form,ul,ol,li,dl,dt,dd,form{padding:0;margin:0;list-style:none;}

::-webkit-scrollbar{height:8px;width:8px;background:rgba(222, 222, 222, 0.5);}
::-webkit-scrollbar-button{display:none;}
::-webkit-scrollbar-track{background-color:#ffffff;}
::-webkit-scrollbar-track-piece{background:#ffffff;}
::-webkit-scrollbar-thumb{width:8px;min-height:15px;background:rgba(0, 0, 0, 0.3);}
::-webkit-scrollbar-thumb:hover{background:rgba(0, 0, 0, 0.6);}
::-webkit-scrollbar-thumb:active{background:rgba(0, 0, 0, 0.8);}

img{border:none;}
table td{padding:0;}
table{border-collapse:collapse;border-spacing:0;}
.right, .fr {float: right; }
ul, ol {list-style: none; }
i {font-style: normal; }
a {outline: none;text-decoration: none;cursor: pointer; color: #444; }
a:HOVER {text-decoration: none}
input:FOCUS{outline: none;}
input {
	border:1px solid #BBD4EF;
}

a {
	text-decoration: none;
	color: #ea544a;
}

a.btn {
	color: white;
	background-color: #2eb7aa;
	border-color: #0e8177;
	vertical-align: middle;
	padding: 4px 10px;
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	border-radius: 2px;
	cursor: pointer;
}

a.btn.hollow {
	border:1px solid #ADE2DD;
	color: #2eb7aa;
	background-color: #F0FFFE;
	border: 1px solid #ADE2DD;
	padding: 5px 15px;
	text-align: center;
}

a.btn.big {
	width: 250px;
	padding: 10px;
	font-size: 18px;
}

a.btn:hover {
	background-color: #2ec3b4;
}

a.btn.hollow:hover {
	background-color: #2eb7aa;
	color: white;
}

a.btn:hover {
	background-color: #2ec3b4;
}

a.btn.disabled {
	background-color: #D6D6D6;
	color: #696969;
}

input[type="text"] {
	margin: 5px;
	padding: 0 10px;
	height: 34px;
	color: #404040;
	background: white;
	border: 1px solid;
	border-color: #c4c4c4 #d1d1d1 #d4d4d4;
	width: 40px;
}

 .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0;
}
 
* html .clearfix{zoom: 1;}
*:first-child + html .clearfix{zoom: 1;}
    
    
.wrapper {
	width: 1180px;
	margin: 0 auto;
}

.template,.hidden {
	display: none;
}

.full {
	width: 100%;
	float: left;
}

#site-map {
	height: 40px;
	background: #fbfbfb;
	box-shadow: 0 0 0 1px #FFF,0 0 0 2px #dfdfdf,0 0 5px 3px #f0f0f0;
}
#site-map  .logo {
	float: left;
}


#main .sl {
	width: 265px;
	float: left;
	margin-top: 20px;
}

#main .sl .block {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #dddbdc;
	margin-bottom: 20px;
	background: #fff;
	padding: 0 0 10px;
}

#main .sl .ubox {
	margin: 10px;
	height: 120px;
}

#main .sl .ubox .u-pic {
	position: relative;
	float: left;
	width: 104px;
	height: 104px;
	margin: 5px 10px 0 0;
	overflow: hidden;
	text-align: center;
	z-index: 0;
}

#main .sl .ubox .u-pic img {
	width: 100px;
	height: 100px;
}

#main .sl .ubox .u-pic .mask {
	background: url(../img/head-bg.png) 0 0;
	width: 104px;
	height: 104px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}

#main .sl .ubox .info {
	float: right;
	width: 125px;
}

#main .sl .ubox .info .uname {
	font-size: 16px;
	color: #333;
	line-height: 24px;
	margin-bottom: 5px;
}


#main .sl .ubox .info #gift-sent {
	color: #ea544a;
	font-size: 20px;
	margin: 0px 10px;
}

#main .sl .ubox .info .sign {
	color: #999;
	margin-bottom: 15px;
	width: 100%;
	text-overflow: ellipsis;
	word-wrap: normal;
	white-space: nowrap;
	overflow: hidden;
}

.title {
	position: relative;
	z-index: 100;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #dedbdb;
	clear: both;
}

.title h2 {
	font-size: 18px;
	font-weight: normal;
	color: #444;
}

.title i.icon {
	width: 2px;
	height: 26px;
	background: #2eb7aa;
	display: block;
	float: left;
	margin-top: 12px;
	margin-right: 15px;
}


.title ul.tablist {
	position: absolute;
	left: 155px;
	bottom: 0;
	z-index: 100;
}

.title ul.tablist li {
	float: left;
	width: 70px;
	text-align: center;
	line-height: 40px;
	margin-right: 30px;
	font-size: 14px;
}

.title ul.tablist li.current {
	border-bottom: 2px solid #2eb7aa;
}
.title ul.tablist li.current a {
	color: #2eb7aa;
}

.title ul.tablist li a {
	width: 100%;
	height: 100%;
	display: block;
	color: #5e5e5e;
}


.title .explain {
	font-size: 12px;
	position: absolute;
	right: 20px;
	top: 0px;
}
.title .explain a, .title .explain span {
	color: #2eb7aa;
	font-weight: bold;
}

#main .br {
	float: right;
	width: 900px;
	border: 1px solid #dedbdb;
	background: #fff;
	margin-top: 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#main .br .container {
	display: none;
}

#main .br .content {
	padding: 20px;
	border-top: 1px solid #dddbdc;
	display: inline-block;
	width: 674px;
	margin-top: -1px;
	position: relative;
}

#main .br .content.form label {
	display: block;
	float: left;
	margin-left: 25px;
	width: 95px;
	line-height: 40px;
}

#main .br .gift, #main .br .pend {
	border-top: 1px solid #dddbdc;
	display: inline-block;
	width: 860px;
	margin-top: -1px;
	position: relative;
	height: 520px;
	padding: 15px;
}

#main .br .pend div {
	height: 180px;
	line-height: 180px;
	vertical-align: middle;
	text-align: center;
}

#main .br .gift .preview {
	width: 560px;
	height: 500px;
	background-image: url('/img/no-preview.png');
	background-size: cover;
}


#main .br .gift .preview .fav {
	text-align: left;
	position: absolute;
	top: 0px;
	left: 0px;
	line-height: 30px;
	background: #555;
	background-color: rgba(33, 33, 33, 0.83);
	color: white;
	padding: 5px;
}



#main .br .gift .detail {
	width: 280px;
	line-height: 18px;
	height: 520px;
	position: absolute;
	right: 0px;
	top: 0px;
	color: #444;
	padding: 10px;
	font-size: 14px;
	border-left: 1px solid #ccc;
}

#main .br .gift .detail h2 {
	color: #444444;
	font-size: 14px;
	padding: 10px;
	margin-top: 20px;
}
#main .br .gift .detail .fans {
	float: left;
	margin-bottom: 20px;
}

#main .br .gift .detail .fan {
	float: left;
	margin: 15px 0 0 20px;
}
#main .br .gift .detail .fan img {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

#main .br .gift .detail .fan .sn {
	width: 50px;
	padding-top: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
}

#main .br .gift .detail .ops, #main .br .gift .detail .result {
	position: absolute;
	display: none;
	bottom: 20px;
	width: 280px;
}
#main .br .gift .detail .result .luck_rns {
	font-size: 12px;
	color: green;
}

#lucy_go_contaner {
	position: absolute;
	top: 5px;
	left: 50%;
	z-index: 9999;
	margin: 0 0 0 -500px;
	width: 1001px;
	background: #FFF;
	border: 1px solid #ccc;
	padding: 15px;
}
#lucy_go_contaner ul.lucky_method  {
	height: 50px;
}
#lucy_go_contaner ul.lucky_method li {
	float: left;
	padding: 0px 15px;
	border: 2px solid white;
	cursor: pointer;
}

#lucy_go_contaner ul.lucky_method li.selected {
	border: 2px dashed #E4393C;
	background-color: beige;
}
#lucy_go_contaner div.info {
	font-size: 12px;
}
#lucy_go_contaner #athliom {
	display: none;
}

#lucy_go_contaner div.info span {
	color: #E4393C;
}

#post-result textarea {
	width: 986px;
	height: 45px;
	font-size: 14px; 
}
.fans-wall {
	margin-top: 20px;
	min-height: 120px;
}

.fans-wall li.luckier {
	float: left;
	border-right: 1px solid #eee;
	border-top: 1px solid #eee;
	height: 100px;
	width: 60px;
	overflow: hidden;
	text-align: center;
	padding: 5px;
	position: relative;
}

.fans-wall li.luckier img.head {
	width: 50px;
	height: 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
}

.fans-wall li.luckier .name {
	width: 60px;
	padding-top: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
}

.fans-wall li.luckier i.seq {
	position: absolute;
	left: -15px;
	background: #666;
	color: white;
	padding: 3px 5px;
	top: -10px;
}

#repost-wall {
	height: 420px; 
}

#pager {
	background: #F5F5F5;
	text-align: center;
	padding: 15px 0px;
	font-size: 14px;
	cursor: pointer;
}

#pager:HOVER {
	background: #E7E7E7: 
}

#pager .total {
	color: #E4393C;
}

#main .br #repost_container {
	padding: 10px;
	border-top: 1px solid #ccc;
	background-color: #f7f7f7;
}

#main .br #repost_container .ops {
	text-align: right;
	margin-top: 10px;	
}

#main .br #repost_container textarea {
	width: 870px;
	height: 60px;
}

.footer {
	margin-top: 15px;
	border-top: 1px solid #3aa2a2;
	background: #f6f6f6;
	padding: 15px;
	clear: both;
}

.footer img {
	height: 40px;
}


