@CHARSET "UTF-8";
html,body{font:14px "Microsoft Yahei","微软雅黑","黑体","SimHei",Arial,sans-serif;color:#2E2E2E;height:100%;}
html,body,h1,h2,h3,p,form,ul,ol,li,dl,dt,dd,form{padding:0;margin:0;list-style:none;}


.fl {
	float: left;
}
.fr {
	float: right;
	text-align: right;
}

a {
	color: #0f71c7;
	text-decoration: none;
}


header, div.header {
	---background-color: #CC0000;
	---color: white;
	----height: 81px;
}


.wrapper {
	width: 1200px;
	margin: 0 auto;
}



.header .logo {
	width: 240px;
	height: 70px;
}
.header .site {
	margin-right: 50px;
}

.operations {
	padding: 7px 8px 7px 8px;
	border-left: 1px solid #E40000;
	border-right: 1px solid #B80000;
	cursor: pointer;
}

.operations:hover {
	background-color: white;
	color: #CC0000;
}

.wrapper .mainleft .title {
	background-color: #F8F8F8;
	color: #333;
	font-size: 18px;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.form div {
	padding: 20px;
	color: #444;
}

.form div span.label {
	display: block;
	float: left;
	margin-left: 25px;
	width: 95px;
	line-height: 40px;
}

.form div input {
	margin: 5px;
	padding: 0 10px;
	height: 34px;
	color: #404040;
	background: white;
	border: 1px solid;
	border-color: #c4c4c4 #d1d1d1 #d4d4d4;
	border-radius: 2px;
	outline: 5px solid #eff4f7;
	-moz-outline-radius: 3px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
	width: 300px;
}



.wrapper .nav.seller {
	float: left;
	width: 160px;
	border: 1px solid #ccc;
	margin-top: 5px;
}

.wrapper .nav.seller ul li {
	padding: 8px;
	
}
.wrapper .nav.seller ul li.title {
	background-color: #677E93;
	color: white;
	
}
.wrapper .nav.seller ul li:HOVER {
	background-color: #DFDFDF;
	cursor:pointer;
}

.wrapper .content.seller {
	float: right;
	width: 1030px;
	min-height: 600px;
	border: 1px solid #ccc;
	margin-top: 5px;
}

.content .view {
	display: none;
}


#dashboard .hello {
	font-size: 16px;
	padding: 15px;
}



.preview  .block {
	background: #fff;
	font-size: 12px;
	width: 1100px;
	border: 1px solid #eee;
	padding: 20px 20px 15px 20px;
	margin: 10px;
	float: left;
}

.preview  .block .splash {
	float: left;
	width: 480px;
	height: 400px;
}

.preview  .block .des {
	float: right;
	width: 600px;
}

.preview  .block .des .title {
	margin: 0;
	line-height: 28px;
	font-size: 24px;
	padding: 10px 0px;
	font-weight: 700;
	color: #333;
	
}


.preview  .block .des .subtitle {
	color: #666;
	font-size: 16px;
	font-weight: normal;
	line-height: 25px;
}

.preview  .block .des .price-wrap {
	height: 68px;
	display: block;
}
.preview  .block .des .price-wrap h3.price {
	display: inline;
	font-weight: normal;
	margin: 20px;
}
.preview  .block .des .price-wrap h3.price .price-display {
	font-size: 46px;
	color: #FF5000;
}

.preview  .block .des .price-wrap h3.price .price-display em {
	font-style: normal;
	font-size: 26px;
}
.preview  .block .des .price-wrap h3.price .discount {
		color: #666;
	font-size: 16px;
	font-weight: normal;
}

.preview .block .des .time-left {
	float: right;
	background: #FF5000;
	color: white;
	padding: 3px 8px;
}

.preview .block .des .box table {
	border-collapse: collapse;
	border: 1px solid #E6E6E6;
	margin: 5px;
	width: 600px;
	background-color: #FFFCED;
}

.preview .block .des .box table td {
	text-align: center;
	padding-top: 10px;
	border: 1px solid #E6E6E6;
	padding: 5px 4px;
	text-align: center;
	height: 60px;
	vertical-align: middle;
	font-size: 16px;

}
.preview .block .des .box table td .grey {
	color: #666;
}

.preview .block .des .box table td .focus {
	color: #FF5000;
}

.preview .block .des .agree {
	color: #666;
	margin: 10px 0px;	
}

.preview .block .des .booki {
	padding: 10px;61
}

.preview .block .des .booki a.btn {
	border: 1px solid #e15704;
	background-color: #ff5f00;
	color: #FFF;
	width: 188px;
	height: 42px;
	line-height: 42px;
	margin: 10px;
	border-radius: 3px;
	vertical-align: top;
	float: left;
	font-size: 22px;
	text-align: center;
}
.preview .block .des .booki a.btn:HOVER {
	background-color: #ff6f1a;
	border-color: #ff5f00;
}

.preview .block .des .booki a.btn.disabled {
	color: #888;
	background-color: #E9E9E9;
	border-color: #aaa;
}

.preview .block .des .booki #book_code {
	line-height: 60px;
	font-size: 16px;
	color: green;
	margin-left: 20px;
}


.preview .block.agreement {
	border: 1px solid #E6E6E6;
	background-color: #DBFFE1;
}
.preview .block.agreement div.title {
	font-size: 20px;
}

.preview .block.agreement ol {
	margin-left: 20px;
}
.preview .block.agreement li {
	padding: 5px;
	font-size: 16px;
	list-style: decimal;
}



#site-map {
	height: 40px;
	background: #fbfbfb;
	box-shadow: 0 0 0 1px #FFF,0 0 0 2px #dfdfdf,0 0 5px 3px #f0f0f0;
}
#site-map  .logo {
	float: left;
}

#site-map .item {
	display:none;
	float: right;
	font-size: 14px;
	line-height: 40px;
	border-left: 1px solid #FFF;
	border-right: 1px solid #EEE;
	padding: 0px 8px;
	position: relative;
}

#site-map .item .uname {
	margin-left: 10px;
	color: #0f71c7;
}

#site-map .item  span {
	cursor: pointer;
}


#site-map .item dd.entry {
	display: none;
	position: absolute;
	right:0px;
	top: 42px;
	position: absolute;
	background-color: #eee;
	width: 350px;
}

#site-map .item .entry .list {
	height: auto!important;
	height: 344px;
	max-height: 344px;
	overflow-y: auto;
	margin: 5px 5px 5px 5px;
	background-color: white;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
#site-map .item .entry .summ {
	margin: 5px;
	text-align: right;
}

#site-map .item .entry .list li.sale {
	padding: 8px 10px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	line-height: 17px;
	vertical-align: bottom;
}
#site-map .item .entry .list li.sale.template {
	display: none;
}

#site-map .item .entry .list li.sale:hover {
	background-color: #fbfbfb;
} 


#site-map .item .entry li.sale div.img {
	width: 50px;
	height: 50px;
	border: 1px solid #ddd;
	padding: 0;
	margin-right: 10px;
	font-size: 0;
}

#site-map .item .entry li.sale div.title {
	word-break: break-all;
	word-wrap: break-word;
	overflow: hidden;
	margin-bottom: 5px;
}

#site-map .item .entry li.sale .price {
	color: #E4393C;
	font-weight: 700;
}

#site-map .item .entry li.sale .time {
	color: #3b0;
}
 
 

#dialog {
	display: none;
}

#dialog .content {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 11;
	margin: -180px 0 0 -210px;
	width: 420px;
	background: #FFF;
}

#dialog .content h2.title {
	border-bottom: 1px solid #ebeced;
	font-size: 16px;
	line-height: 50px;
	padding: 4px 10px;
}

#dialog .content h2.title a.close {
	float: right;
}

#dialog .content ul.list li {
	margin: 10px;
	padding: 5px;
	font-size: 14px;
}

#dialog .content ul.list li.account img {
	top: 4px;
	position: relative;
	margin-right: 5px;
}

#dialog .bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	background: rgba(63, 72, 79, 0.3);
}

#main {
	display: none;
}

#hide-all {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 101;
	background-color: #eee;
}



.footer {
	border-top: 1px solid #3aa2a2;
	background: #f6f6f6;
	padding: 15px;
	clear: both;
}
