
.icon-plus:before { content: '\e800'; } /* '' */
.icon-left-small:before { content: '\e801'; } /* '' */
.icon-pause:before { content: '\e802'; } /* '' */
.icon-chart-bar-1:before { content: '\e803'; } /* '' */
.icon-clock:before { content: '\e804'; } /* '' */
.icon-dot-3:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-cancel:before { content: '\e807'; } /* '' */
.icon-minus:before { content: '\e808'; } /* '' */
.icon-left-open-mini:before { content: '\e809'; } /* '' */
.icon-right-open-mini:before { content: '\e80a'; } /* '' */
.icon-menu:before { content: '\e80b'; } /* '' */
.icon-dot:before { content: '\e80c'; } /* '' */
.icon-eye:before { content: '\e80d'; } /* '' */
.icon-play:before { content: '\e80e'; } /* '' */
.icon-check:before { content: '\e80f'; } /* '' */
.icon-check-1:before { content: '\e810'; } /* '' */
.icon-check-empty:before { content: '\e811'; } /* '' */
.icon-sun:before { content: '\e812'; } /* '' */
.icon-compass:before { content: '\e813'; } /* '' */
.icon-chat-empty:before { content: '\e814'; } /* '' */
.icon-calendar-alt:before { content: '\e815'; } /* '' */
.icon-dot-2:before { content: '\e818'; } /* '' */