 
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    font-size:14px;
	margin:0px;
    padding:0px;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

a:HOVER {
	cursor: pointer;
}

.fl {
	float: left;
}
.fr {
	float: right;
}
.hidden {
	display: none;
}

.alert {
	background: #f3f3f5;
	color: #333;
	padding: .5rem 1.5rem;
	line-height: 3rem;
}

a.btn {
	margin-right: 1rem;
	padding: .3rem 2rem;
	color: #fff;
	background-color: #1DB9F2;
	vertical-align: middle;
	font-weight: normal;
	font-size: 1.125rem;
	line-height: 4rem;
	text-align: center;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

a.big-btn {
	margin: 1rem;
	color: #fff;
	background-color: #1DB9F2;
	vertical-align: middle;
	font-weight: normal;
	display: block;
	font-size: 1.125rem;
	line-height: 2.5rem;
	text-align: center;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

 .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0;
}

.header {
	height: 50px;
	color: #fff;
	text-align: center;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 19;
	border-bottom: 1px solid #ccc;
	background-color: #18B4ED;
}

.header .title {
	padding: .8rem 1rem;
	font-size: 1.125rem;
	line-height: 1.125rem;
}

.header .bar .icon {
	font-size: 1.5rem;
	line-height: 2.5rem;
	color: #fff;
	text-align: center;
	padding: .8rem 1rem;
}

.header .bar .icon.add:before {
	font-family: "fontello";
	content:'\e800';
}
.header .bar .icon.return:before {
	font-family: "fontello";
	content: '\e801';
}
.header .bar .icon.yes:before {
	font-family: "fontello";
	content: '\e80f';
}
.header .bar .icon.cancel:before {
	font-family: "fontello";
	content: '\e807';
}

.header .bar .icon.pressed {
	background-color:#3BC4F7; 
}

.header ul.add-menu {
	position: absolute;
	right: .5rem;
	top: 2.9rem;
	background-color: white;
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;
	display: none;
	background-color: #18B4ED;
	color: #fff;
}

.header ul.add-menu li {
	width: 10rem;
	padding: .8rem;
	font-size: 1.125rem;
	border-bottom: 1px solid #3BC4F7;
}
.header ul.add-menu li.pressed {
	background-color:#3BC4F7; 
} 

.main , .page {
	z-index: 1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
}

.main .wrapper {
	background: white;
	top: 50px;
	left: 80px;
	right: 0;
	position: absolute;
	bottom: 0;
}

.main .pop-wrapper {
	position: absolute;
	z-index: 11;
}

.main .wrapper.hs {
	overflow:hidden;
	-webkit-overflow-scrolling: touch; 
}

.main .running {
	left: 81px;
	right: 0;
	height: 50px;
	bottom: 0;
	background: #efefef;
	border-top: 1px solid #ddd;
}

.main .running .info {
	position: absolute;
	right: 0;
	text-align:right;
	color: #555;
	font-size: 1.125rem;
	line-height: 2.5rem;
	padding-right: 2rem;
	padding-left: 2rem;
	border-left: 1px solid #dfdfdf;
}

.main .running .info .hint {
	position: absolute;
	right: .5rem;
	top: .2rem;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background-color: red;
	padding: 0;
	margin: 0;
	font-size: .6rem;
	line-height: 1.1rem;
	text-align: center;
	color: white;
}
.main .running .tick {
	position: absolute;
	left: 0;
	top:0;
	text-align:center;
	color: #555;
	font-size: 1.5rem;
	line-height: 2.5rem;
	top:0;
}

.main .running .op {
	font-size: 28px;
	line-height: 28px;
	font-family: "fontello";
	position: absolute;
	color: #7D7396;
	top: -12px;
	width: 26px;
	background: #FAFBFE;
	height: 26px;
	border-radius: 50%;
	border: 2px solid #EAE8E8;
	padding: 15px;
	text-align: center;
}

.main .running .pause:before {
	content: '\e802';
}

.main .running .start:before {
	content: '\e80e';
}

.main .running table {
	width: 100%;
}

.main .running table td.icon {
	width: 3.2rem;	
}
.main .running table td.icon .ttype {
	padding: .4rem;
	margin: 0;
}

.main .running table td.info {
	text-align: center;
}

.main .running table td.op {
	width: 1.4rem;	
	border-left: 1px solid #ddd;
	padding: .6rem;
	text-align: center;
}

.main .current-day {
	left: 81px;
	right: 0;
	height: 35px;
	top: 50px;
	background: #efefef;
	border-bottom: 1px solid #ddd;
}

.main .current-day .date {
	line-height: 2rem;
	padding-left: 1rem;
}
.main .current-day .total {
	line-height: 2rem;
	padding-right: 1rem;
}


.main .bottom {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	position: absolute;
	width: 80px;
	bottom: 0;
	top: 50px;
	left: 0;
	border-right: 1px solid #ccc;
	flex-flow: column;
}

.main .bottom .item {
	display: block;
	position: relative;
	font-size: .75rem;
	font-weight:normal;
	color: #5d5d5d;
	text-align: center;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding-top: 15px;
	---width: 100%;
}

.main .bottom .item.sibon {
	color: #00A0E0;	
}

.main .bottom .item.blink {
	color:#F74C31; 
}

.main .bottom .item:before {
	font-size: 2rem;
	display:block;
	font-family: "fontello";
}

.main .bottom .item.me:before {
	content: '\e806';
}

.main .bottom .item.time:before {
	content: '\e804';
}

.main .bottom .item.cal:before {
	content: '\e815';
}

.main .bottom .item.chart:before {
	content: '\e803';
}

.page .wrapper {
	background:white;
	top: 45px;
	left: 0px; 
	right: 0px;
	position: absolute;
	bottom: 0px;
	overflow:hidden;
}

.form .item {
	border-bottom: 1px solid #ccc;
	padding: 10px;
	min-height: 2rem;
}

.form .item textarea {
	border: none;
	width: 100%;
	height: 4rem;
	outline-style: none;
	box-shadow: none;
}

.ttype {
	margin: .2rem .3rem 0rem 0rem;
	padding: .6rem;
	width: 1.8rem;
	height: 1.8rem;
	line-height: 2rem;
	border-radius: 50%;
	font-size: .8rem;
	color: #999;
	border: 2px dashed #bbb;
	background-color: #F7F7F7;
	-webkit-transition: background .3s ease; 
}

.ttype:HOVER {
	cursor: pointer;
}

.ttype.checked {
	border: 2px solid #eee;
}

.add-time {
	z-index: 10;	
}

.form .item.switch {
	color: #999;
	position:relative;
	font-size: .9rem;
	margin: .3rem;
	padding: .5rem;
}

.form .item.switch.checked {
	color: #444;
}

.form .item.notify input {
	width: 3rem;
	text-align:center;
	padding: .5rem;
	border: none;
}

.form .item.switch i.c {
	position: absolute;
	right: .8rem;
	top: .5rem;
	padding: .3rem .6rem;
	color: white;
	background-color: #ccc;
	border-radius: 50%;
}

.form .item.switch.checked i.c {
	background-color: green;
}

.form .item.switch i.c:BEFORE {
	font-family: "fontello";
	content: '\e80f';
	font-style: normal;
}

.form .item span {
	padding: .8rem;
	line-height: 2rem;
}
.form .item span.label {
	width: 5rem;
}

.timeline {
	position: relative;
}

.timeline .line {
	position: absolute;
	top: 0px;
	width: 4px;
	bottom: 0px;
	background-color: #bbb;
}

.timeline .line .section {
	position: absolute;
	left: 0rem;
	width: 4px;
	height: 3rem;
	background-color: #019D59;
}

.timeline .note {
	border-radius: .4rem;
	padding: 3px;
	position: absolute;
	background: rgb(255, 248, 191);
	border: 1px solid #e7e7cd;
	color: #444;
}
.timeline .note.pressed {
	background: #fff;
}
.timeline .note i {
	color: #ccc;
	font-style: normal;
	font-size: .75rem;
}

.timeline  table.grid {
	width: 100%;
}

.timeline  table.grid td {
	vertical-align:top;
	height: 3rem;
	color:#bbb;
	border-bottom: .1rem solid #efefef;
}

.main .todo {
	background:white;
	top: 8rem;
	left: 4rem; 
	right: 0;
	position: absolute;
	bottom: 6.1rem;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

.todo ul li {
	border-bottom: 1px solid #efefef;	
	position: relative;
	height: 2.8rem;
}
.todo ul li.finished {
	
}
.todo ul li div.content {
	position: absolute;
	top:0;
	left: .5rem;
	right: 7.5rem;
	line-height: 2.8rem;
	font-size: 1.125rem;
	text-overflow:ellipsis;
	white-space:nowrap; 
	overflow:hidden; 
}

.todo ul li.finished div.content {
	text-decoration: line-through;
	color: green;
}

.todo ul li div.icon {
	font-family: "fontello";
	font-size: 1.5rem;
	line-height: 1.5rem;
	font-style: normal;
	color: #9C9C9C;
	padding: .6rem .8rem;
	float: right;
}

.todo ul li div.checkbox {
	right: 2.5rem;
}

.todo ul li div.checkbox:BEFORE {
	content: '\e80f';
}

.todo ul li.finished div.checkbox:BEFORE {
	color: green;
}


.todo ul li div.start {
	right: 6rem;
}

.todo ul li div.start:before {
	font-family: "fontello";
	content: '\e80e';
}

.todo ul li div.remove {
	right: .5rem;
}
.todo ul li div.remove:BEFORE {
	content: '\e807';
}

.todo .msg {
	text-align: center;
	margin-top: 10rem;
}


.tag-config ul.list {
	padding: .4rem;
	margin: 0;
	border-right: 1px solid #efefef;
}

.tag-config {
	z-index: 99;
}

.tag-config ul.list li.add {
	margin: .2rem .3rem 0rem 0rem;
	padding: .6rem;
	width: 1.8rem;
	height: 1.8rem;
	line-height: 2rem;
	border-radius: 50%;
	font-size: 1.75rem;
	color: #999;
	border: 2px dashed #bbb;
	background-color: #F7F7F7;
	-webkit-transition: background .3s ease; 
	text-align: center;
}

.tag-config ul.list li.add:BEFORE {
	font-family: "fontello";
	content:'\e800';
}

.tag-config .config {
	margin-left: 5rem;
}

.tag-config .config .item {
	border-bottom: 1px solid #ccc;
	padding: .2rem;
	color: #666;
}

.tag-config .config input {
	font-size:1.125rem;
	width: 3rem;
	border: none;
	height: 2rem;
	outline-style: none;
	box-shadow: none;
	color: #666;
}

.tag-config .config i {
	font-style: normal;
	color: #ededed;
	font-size: .9rem;
}
.tag-config .config i.yes {
	position: absolute;
	right: .8rem;
	top: .5rem;
	color: #666;
	font-size: 1.5rem;
}

.tag-config .config i.yes:BEFORE {
	font-style: normal;
	font-family: "fontello";
	content: '\e80f';
}

.tag-config ul.colors {
	margin-top: .5rem;
	height: 6rem;
}
.tag-config ul.colors li {
	float: left;
	width: 3rem;
	height: 2rem;
	list-style: none;
	margin: .2rem;
	border: 2px solid #efefef;
}

.tag-config ul.colors li.checked {
	border: 2px solid #444;
}

.chart .type {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 2.4rem;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;	
}

.chart .type a {
	line-height: 2.4rem;
	display: block;
	font-weight:normal;
	color: #5d5d5d;
	text-align: center;
	webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	border-bottom: 1px solid #ccc;
}
.chart .type a.pressed {
	background-color: #EBECEE;	
}

.chart .type a.sibon {
	color: #3BC4F7;
	border-bottom: 1px solid #3BC4F7;	
}

.chart #graph {
	position: absolute;
	top: 50px;
	bottom: 40px;
	left: 10px;
	right: 10px;
	text-align: center;
}

.chart #graph text.percent {
	fill:white;
	text-anchor:middle;
	font-size:12px;
}


.chart #graph .axis path, .chart #graph .axis line {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.chart #graph .axis .tick {
	stroke-dasharray: 1, 2;
}
.chart #graph .axis .bar {
	fill: FireBrick;
}

.chart .title {
	position: absolute;
	bottom: 1rem;
	left: 0;
	right: 0;
	text-align: center;
}

.chart .title i {
	vertical-align: middle;
	font-size: 1.75rem;
	padding: .8rem 1rem;
	color: #444;
	text-align: center;
}
.chart .title i.pressed {
	color: #3BC4F7;
}

.chart .title i.prev:before {
	font-family: "fontello";
	font-style: normal;
	content: '\e809';
}

.chart .title i.next:before {
	font-style: normal;
	font-family: "fontello";
	content: '\e80a';
}

.me.wrapper {
	background-color: #efefef;
}

.me.wrapper ul li.d {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin-top: .5rem;
	background-color: white;
	padding-left: 1rem;
}

.me.wrapper ul li.reg {
	height: 4rem;
}

.me.wrapper ul li.d .title {
	line-height: 1.75rem;
	font-size: 1.125rem;
}

.me.wrapper ul li.d .desc {
	line-height: 1.75rem;
	font-size: 1rem;
	color: #aaa;
}

.me.wrapper li.empty {
	height: .5rem;
}

.wrapper.me ul li.entry {
	border-bottom: 1px solid #ccc;
	background-color: white;
	height: 3rem;
	line-height: 3rem;
	font-size: 1.125rem;
	padding-left: 1rem;
}

.wrapper.me ul li.entry:HOVER,.wrapper.me ul li.d:HOVER {
	cursor: pointer;
	background-color: #f1f1f1;
}

.wrapper.me ul li.entry.pressed, .wrapper.me ul li.d.pressed {
	background-color: #efefef;	
}

.reg-user  input, .login-user  input {
	font-size: 1.125rem;
	border: none;
	outline-style: none;
	box-shadow: none;
	padding: .5rem;
}

.pop-menu {
	z-index: 9999;
	background-color: rgba(0,0,0,0.7)
}

.pop-menu ul {
	background: white;
	font-size: 1rem;
	padding: .5rem;
	width: 300px;
	margin: 0 auto;
	margin-top: 200px;
}

.pop-menu ul li.title {
	border-bottom: 2px solid #efefef;
	color: #FF6633;
	font-size: 1.25rem;
}


.pop-menu ul li {
	padding: .5rem;
	border-bottom: 1px solid #efefef;
}

.pop-menu ul li.disabled {
	color: #cdcdcd;	
}

.discover ul li.item {
	border-bottom: 1px solid #ccc;
	background-color: white;
	padding-left: 1rem;
	line-height: 3rem;
	font-size: 1.125rem;
}
.discover ul li.pico:BEFORE {
	font-family: "fontello";
	font-style: normal;
	font-size: 1.5rem;
	margin-right: 1rem;
}
.discover ul li.pico.ing:BEFORE {
	content: '\e812'; 	
	color: #FF5400;
}

.discover ul li.pico.live:BEFORE {
	content: '\e813'; 	
	color: #7ABD54;
}

.discover ul li.pico.box:BEFORE {
	color: #357ae8;
	content: '\e814';
}

#calendar .head {
	padding: .3rem;
	font-size: 1.25rem;
	text-align: center;
}
#calendar .head span {
	margin: 0 1rem;
}

#calendar .head i {
	vertical-align: middle;
	font-size: 2rem;
	color: #444;
	text-align: center;
	font-family: "fontello";
	font-style: normal;
	padding: .8rem 1rem;
}

#calendar .head i.pressed {
	color: #3BC4F7;
}

#calendar .head i.prev:before {
	content: '\e809';
}

#calendar .head i.next:before {
	content: '\e80a';
}

#calendar .weeks {
	height: 1.5rem;
	font-size: 1rem;
	line-height: 1.25rem;
}

#calendar .daygrid {
	position: absolute;
	bottom: 0;
	top: 3.5rem;
	left: 0;
	right: 0;
}

#calendar .row {
	position: absolute;
	-webkit-transition: top .4s;
}

#calendar .date {
	line-height: 2rem;
	float: left;
	text-align:center;
	font-size: 1.25rem;
	padding-top: 20px;
}
#calendar .date.pressed {
	background-color: #eee;	
}

#calendar .date div {
	line-height: 1rem;
	font-size: .75rem;
	color: #FF3803;
}

#calendar .date .dot1:BEFORE {
	content: '\e80c';
	color: #2ECD71;
	font-family: "fontello";
}
#calendar .date .dot2:BEFORE {
	content: '\e818';
	color: orange;
	font-family: "fontello";
}
#calendar .date .dot3:BEFORE {
	content: '\e805';
	color: red;
	font-family: "fontello";
}

#calendar .date.first {
	border: none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.6; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.6; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
