@CHARSET "UTF-8";
html,body{font:14px/1.5 tahoma,arial,'Hiragino Sans GB',宋体b8b\4f53,sans-serif;;color:#3C3C3C;height:100%;}
html,body,h1,h2,h3,p,form,ul,ol,li,dl,dt,dd,form{padding:0;margin:0;list-style:none;}

::-webkit-scrollbar{height:8px;width:8px;background:rgba(222, 222, 222, 0.5);}
::-webkit-scrollbar-button{display:none;}
::-webkit-scrollbar-track{background-color:#ffffff;}
::-webkit-scrollbar-track-piece{background:#ffffff;}
::-webkit-scrollbar-thumb{width:8px;min-height:15px;background:rgba(0, 0, 0, 0.3);}
::-webkit-scrollbar-thumb:hover{background:rgba(0, 0, 0, 0.6);}
::-webkit-scrollbar-thumb:active{background:rgba(0, 0, 0, 0.8);}

img{border:none;}
table td{padding:0;}
table{border-collapse:collapse;border-spacing:0;}
.right, .fr {float: right; }
ul, ol {list-style: none; }
i {font-style: normal; }
a {outline: none;text-decoration: none;cursor: pointer; color: #444; }
a:HOVER {text-decoration: none}
input:FOCUS{outline: none;}

.wrapper {
	width: 1190px;
	margin: 0 auto;
	position: relative;
}

.template {
	display: none;
}


a.btn {
	color: white;
	background-color: #2eb7aa;
	border-color: #0e8177;
	vertical-align: middle;
	padding: 7px 20px 6px;
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	border-radius: 2px;
}
a.btn.hollow {
	border:1px solid #ADE2DD;
	color: #2eb7aa;
	background-color: #F0FFFE;
	border: 1px solid #ADE2DD;
	width: 85px;
	text-align: center;
}

a.btn:hover {
	background-color: #2ec3b4;
}

a.btn.hollow:hover {
	background-color: #2eb7aa;
	color: white;
}

a.btn.disabled {
	background-color: #D6D6D6;
	color: #696969;
}

.red {
	color: red;
}




#site-map {
	height: 40px;
	background: #fbfbfb;
	box-shadow: 0 0 0 1px #FFF,0 0 0 2px #dfdfdf,0 0 5px 3px #f0f0f0;
}
#site-map  .logo {
	float: left;
}

#site-map .item {
	display:none;
	float: right;
	font-size: 14px;
	line-height: 40px;
	border-left: 1px solid #FFF;
	border-right: 1px solid #EEE;
	padding: 0px 8px;
	position: relative;
}

#site-map .item:HOVER {
	background-color: white;
}

#site-map .item .uname {
	margin-left: 10px;
	color: #0f71c7;
}

#site-map .item  span {
	cursor: pointer;
}


#site-map .item dd.entry {
	display: none;
	position: absolute;
	right:0px;
	top: 42px;
	position: absolute;
	background-color: #eee;
	width: 350px;
}

#site-map .item .entry .list {
	height: auto!important;
	height: 344px;
	max-height: 344px;
	overflow-y: auto;
	margin: 5px 5px 5px 5px;
	background-color: white;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
#site-map .item .entry .summ {
	margin: 5px;
	text-align: right;
}

#site-map .item .entry .list li.sale {
	padding: 8px 10px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	line-height: 17px;
	vertical-align: bottom;
}
#site-map .item .entry .list li.sale.template {
	display: none;
}

#site-map .item .entry .list li.sale:hover {
	background-color: #fbfbfb;
} 


#site-map .item .entry li.sale div.img {
	width: 50px;
	height: 50px;
	border: 1px solid #ddd;
	padding: 0;
	margin-right: 10px;
	font-size: 0;
}

#site-map .item .entry li.sale div.title {
	word-break: break-all;
	word-wrap: break-word;
	overflow: hidden;
	margin-bottom: 5px;
}

#site-map .item .entry li.sale .price {
	color: #E4393C;
	font-weight: 700;
}

#site-map .item .entry li.sale .time {
	color: #3b0;
}

#dialog {
	display: none;
}

#dialog .content {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 11;
	margin: -180px 0 0 -210px;
	width: 420px;
	background: #FFF;
}

#dialog .content h2.title {
	border-bottom: 1px solid #ebeced;
	font-size: 16px;
	line-height: 50px;
	padding: 4px 10px;
}

#dialog .content h2.title a.close {
	float: right;
}

#dialog .content ul.list li {
	margin: 10px;
	padding: 5px;
	font-size: 14px;
}

#dialog .content ul.list li.account img {
	top: 4px;
	position: relative;
	margin-right: 5px;
}

#dialog .bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	background: rgba(63, 72, 79, 0.3);
}

#main {
	margin-top: 5px;
}

#main .full {
	width: 100%;
}

.full::after {
	content: "";
	display: table;
	clear: both;
}

#main .mr {
	display: inline;
	float: right;
	width: 288px;
	margin-top: 10px;
	background: white;
	font-size: 14px;
}


#main .mr .member {
	padding: 5px 10px;
	width: 268px;
	height: 120px;
	margin-top: -1px;
	border: 1px solid #DDD;
	background-position: right top;
	overflow: hidden;
}
#main .mr .member .hi {
	position: relative;
	margin-bottom: 5px;
	height: 70px;
	padding: 5px 0 0 70px;
	overflow: hidden;
}

#main .mr .member .hi .self {
	font-size: 12px;
	font-weight: bold;	
	margin-left: 10px;
}

#main .mr .member .hi .self #logout {
	display: none;
}

#main .mr .member .hi .self img {
	position: absolute;
	top: 8px;
	left: 0px;
	width: 60px;
	height: 60px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
}



#main .mr .member .weibo {
	display:none;
	font-size: 12px;
	position: absolute;
	left: 70px;
	top: 30px;	
}
 
#main .mr .member .weibo IMG {
	width: 16px;
	height: 16px;
	border: 0;
	vertical-align: middle;
	margin-right: 3px;
	position: relative;
	top: -1px;
	display: inline-block;
}


#main .mr .member .pv {
	display: none;
}

#main .mr .member .pv  a {
	margin-top: 5px;
	font-size: 12px;
	display: inline;
	float: left;
	margin-left: -1px;
	width: 65px;
	text-align: center;
	border-left: 1px solid #e8e8e8;
}

#main .mr .member .pv  a.first {
	border-left: none;
}
#main .mr .member .pv  a strong {
	display: block;
	font-size: 14px;
	color: #f40;
}

#main .mr .block {
	margin-top: 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #dddbdc;
	background: #fff;
	padding: 0 0 10px;
}

#main .mr .block .title {
	position: relative;
	z-index: 100;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #dedbdb;
}


#main .mr .block .title i.icon {
	width: 2px;
	height: 26px;
	background: #2eb7aa;
	display: block;
	float: left;
	margin-top: 12px;
	margin-right: 15px;
}

#main .mr .block .title h2 {
	font-size: 16px;
	font-weight: bold;
	color: #444;
}

#main .mr .block #timelines li.item {
	padding: 5px 20px;
	display: inline-block;
	width: 245px;
	font-size: 12px;
	color: #444;
}
#main .mr .block #timelines li:hover {
	background-color:#E4F8F6; 
}

#main .mr .block #timelines li a.pic {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
	float: left;
	height: 50px;
	position: relative;
	width: 50px;
	margin-top: 10px;
}

#main .mr .block #timelines li a.pic img {
	height: 50px;
	width: 50px;
}

#main .mr .block #timelines li div.exp {
	width: 185px;
	float: right;
	padding-top: 5px;
}


#main .mr .block #timelines li div.exp p.wbtext {
	line-height: 20px;
}

#main .ml {
	display: inline;
	float: left;
	width: 890px;
}


#main .ml .nextgen {
	background-color: #fff;
	border: 1px dashed #bebec4;
	font-size: 12px;
	margin: 10px 0px;
	width: 835px;
	height: 240px;
	position: relative;
}

#main .ml .nextgen .status {
	color: #FFF;
	font-size: 16px;
	height: 22px;
	left: 0;
	line-height: 21px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 260px;
	background: #555;
}


#main #hot-weibo {
	margin-top: 10px;
}

#main #hot-weibo .title-bar {
	background-color: #52a0e8;
	font-size: 14px;
	color: #fff;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}

#main #hot-weibo .list {
	border:  1px solid #ccc;
	float: left;
	width: 888px;
}

.footer {
	border-top: 1px solid #3aa2a2;
	background: #f6f6f6;
	padding: 15px;
	clear: both;
}

#pendding {
	display:none;
	height: 400px;
	width: 100%;
}

#pendding .loadding {
	margin-top: 200px;
	text-align: center;
}


.waterfall {
	position:relative;
	width: 283px;
	font-size: 12px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
	height: 310px;
	float: left;
	margin: 10px 0px 10px 10px;
	overflow: hidden;
}

.waterfall .bg {
	width: 285px;
	height: 242px;
	background-size: cover;
	-webkit-transition: background 0.4s ease;
}

.waterfall .desc {
	position: absolute;
	z-index: 4;
	line-height: 24px;
	overflow: hidden;
	word-wrap: break-word;
	top: 210px;
	width: 273px;
	background: #555;
	background-color: rgba(33, 33, 33, 0.83);
	color: #eee;
	padding: 5px;
	-webkit-transition: top 0.4s ease;
}

.waterfall .panel {
	position:absolute;
	z-index: 5;
	bottom: 0px;
	left: 0px;
	color: #999;
	border-top: 1px solid #F2F2F2;
	background: #FAFAFA;
	position: relative;
	height: 67px;
}

.waterfall .panel .hint {
	color: #E4393C;
}

.waterfall .panel .from {
	position: absolute;
	left: 10px;
	top: 10px;
}

.waterfall .panel .status {
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 0px 10px;
	color: #000000;
}

.waterfall .panel .status .count {
	color: #49B577;
	font-weight: bold;
	margin-right: 5px;
}

.waterfall .panel .method {
	position: absolute;
	left: 10px;
	top: 30px;
}

.waterfall .panel .repost {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.waterfall .panel .repost a:hover {
	color : #49B577;
}

.waterfall .panel .rcode {
	position: absolute;
	right: 10px;
	top: 20px;
	color: green;
	padding: 5px;
	border: 1px solid #e7e7cd;
	background: #ffffe1;
}





